.why-choise-item
  display flex
  align-items center
  justify-content space-between
  margin-bottom 60px

  &:nth-child(2n)
    flex-flow row-reverse


.why-choise-item--title
  font-family 'Oswald 500',sans-serif
  font-size 28px
  color #FDAB3E
  margin-bottom 25px

  span
    font-size 26px
    color #fff

.why-choise-item--desc
  font-family 'Montserrat 500',sans-serif
  font-size 15px
  color rgba(255, 255, 255, 0.5)
  width 100%

.why-choise-item--baner
  height 40vh

  .icon
    width 84%
    height 100%


