.gogocar-how-work--top
  display flex
  align-items center
  justify-content flex-end
  position relative

.gogocar-how-work--item__wrap
  background-color: #363D4A;
  border-radius: 15px;
  padding 30px
  position relative
.gogocar-how-work--item
  display flex
  align-content: stretch;
.how-work-item--icon
  position absolute
  top -50px
  left 0
  size(70px)

  .icon
    size(40px)
.gogocar-how-work--number
  font-size 70px
  font-family 'Oswald 500',sans-serif
  color rgba(255, 255, 255, 0.1)
  line-height 38px
.gogocar-how-work--bottom
  span
    font-size 22px
    color #FDAB3E
    font-family 'Oswald 500',sans-serif
    margin-bottom 20px
    display block
  p
    font-family 'Montserrat 500',sans-serif
    font-size 14px
    color rgba(255, 255, 255, 0.6)

.how-work--list
  margin-bottom 60px
