section.ready-plan-trip
    .container
        .ready-plan-trip--wrap
            h1.main-section--title--v2.text-center.mb-5 Поездка запланирована на #[span Вторник, 9 июня]
            .ready-plan-trip--info
                .gogocar-trip--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-ready-plan-trip--info
                                    .gogocar-plan-trip-driver-position--town
                                        span Чиназ (Отделение связи №170100)
                                    .gogocar-plan-trip-driver-position--dot
                                    .gogocar-plan-trip-driver-position--time
                                        span 19:35
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-ready-plan--bottom
                            .gogocar-ready-plan--km__place
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-ready-plan--place 5 тонн свободного места
                            .gogocar-ready-plan--car
                                .gogocar-gray-icons
                                    +icon('taxi')
                                .gogocar-ready-plan--text Ford Focus
                            .gogocar-ready-plan--covid
                                .gogocar-gray-icons
                                    +icon('fan')
                                .gogocar-ready-plan--text Авторефрижератор
                        .gogocar-ready-plan--map__price
                            .gogocar-gray-icons
                                +icon('map-gray')
                            .gogocar-ready-plan__price 90 000 UZS
                .gogocar-ready-plan__mobile
                    .gogocar-ready-plan--car
                        .gogocar-gray-icons
                            +icon('taxi')
                        .gogocar-ready-plan--text Ford Focus
                    .gogocar-ready-plan--covid
                        .gogocar-gray-icons
                            +icon('fan')
                        .gogocar-ready-plan--text Авторефрижератор

section.comment-driver
    .container
        .comment-driver--wrap
            h3.section-title.mb-5 Комментарий водителя
            .comment-driver--content
                .comment-driver--border
                p.comment-driver--text “ Здравствуйте, в багажнике мало места, еду один, не спеша, повезу не больше 1 человека. Только в Маске! ”



