section.personal-settings.pt-0
    .container
        .personal-settings--wrap
            .col-xl-3.col-lg-3.personal-sidebar
                include ../../profile/sidebar-profile
            .col-xl-9.col-lg-9.personal-content
                .personal-content--main
                    .personal-content--header
                        h3.personal-content--header--title Полученные отзывы
                    .personal-content--body
                        .personal-review--wrap.personal-review--wrap--content--wrap
                            .col-xl-10.col-lg-10.col-md-12.col-sm-12.personal-review--wrap--content.gogocar-box
                                .personal-review--circule
                                    .personal-review--circule--wrap
                                        .personal-review--circule--name Средняя оценка
                                        .personal-review--circule--desc Всего 14 отзывов
                                    .personal-rev-circule(data-value="3.5")
                                        strong
                                .col-xl-9.col-lg-8.col-md-12.col-sm-12.personal-review--rating-score
                                    ul.personal-review--rating-score--list
                                        li.personal-review--rating-score--item
                                            .personal-review--rating-line-start Оценка 5
                                            .personal-review--rating-line-center
                                                .personal-review--rating-line-center--after(style="width:80%")
                                            .personal-review--rating-line-end 10
                                        li.personal-review--rating-score--item
                                            .personal-review--rating-line-start Оценка 4
                                            .personal-review--rating-line-center
                                                .personal-review--rating-line-center--after(style="width:30%")
                                            .personal-review--rating-line-end 3
                                        li.personal-review--rating-score--item
                                            .personal-review--rating-line-start Оценка 3
                                            .personal-review--rating-line-center
                                                .personal-review--rating-line-center--after(style="width:10%")
                                            .personal-review--rating-line-end 1
                                        li.personal-review--rating-score--item
                                            .personal-review--rating-line-start Оценка 2
                                            .personal-review--rating-line-center
                                                .personal-review--rating-line-center--after(style="width:0%")
                                            .personal-review--rating-line-end 0
                                        li.personal-review--rating-score--item
                                            .personal-review--rating-line-start Оценка 1
                                            .personal-review--rating-line-center
                                                .personal-review--rating-line-center--after(style="width:0%")
                                            .personal-review--rating-line-end 0

                    .personal-content--header.personal-content--header--mobile
                        h3.personal-content--header--title Отзывы
                    .personal-content--body
                        ul.col-xl-10.col-lg-10.personal-reviews--list
                            li.personal-reviews--item
                                .personal-reviews--item--wrap
                                    .personal-reviews--item--top
                                        .chat-content--review__trip--info
                                            .chat-content--review__trip--info__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png');")
                                            .chat-content--review__trip--name__trip
                                                span.chat-content--review__trip--name Матвей Федотов
                                                span.chat-content--review__trip--trip 01.06.2020
                                        .personal-reviews--trip--rating
                                            .personal-reviews--trip Андижан → Ташкент
                                            .gogocar-trips-category--rating.green-rating
                                                +icon('green-star')
                                                span 4,3
                                    .personal-reviews--trip.personal-reviews--trip--moble Андижан → Ташкент

                                    .personal-reviews--item--bottom
                                        p.personal-reviews--item--text Quam erat aliquet ultrices ut integer. Sit sit tellus ultricies neque vitae mattis dolor nunc, nibh. Sed ac consectetur purus dignissim hac metus mollis lacus elit. Egestas aenean eleifend nibh amet sit augue nisi, ac nulla. Nisl lobortis nisl dolor nunc quisque nisl varius quis. Gravida lobortis sed eget elementum quisque orci.
                            li.personal-reviews--item
                                .personal-reviews--item--wrap
                                    .personal-reviews--item--top
                                        .chat-content--review__trip--info
                                            .chat-content--review__trip--info__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png');")
                                            .chat-content--review__trip--name__trip
                                                span.chat-content--review__trip--name Матвей Федотов
                                                span.chat-content--review__trip--trip 01.06.2020
                                        .personal-reviews--trip--rating
                                            .personal-reviews--trip Андижан → Ташкент
                                            .gogocar-trips-category--rating.green-rating
                                                +icon('green-star')
                                                span 4,3
                                    .personal-reviews--trip.personal-reviews--trip--moble Андижан → Ташкент

                                    .personal-reviews--item--bottom
                                        p.personal-reviews--item--text Quam erat aliquet ultrices ut integer. Sit sit tellus ultricies neque vitae mattis dolor nunc, nibh. Sed ac consectetur purus dignissim hac metus mollis lacus elit. Egestas aenean eleifend nibh amet sit augue nisi, ac nulla. Nisl lobortis nisl dolor nunc quisque nisl varius quis. Gravida lobortis sed eget elementum quisque orci.
                            li.personal-reviews--item
                                .personal-reviews--item--wrap
                                    .personal-reviews--item--top
                                        .chat-content--review__trip--info
                                            .chat-content--review__trip--info__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png');")
                                            .chat-content--review__trip--name__trip
                                                span.chat-content--review__trip--name Матвей Федотов
                                                span.chat-content--review__trip--trip 01.06.2020
                                        .personal-reviews--trip--rating
                                            .personal-reviews--trip Андижан → Ташкент
                                            .gogocar-trips-category--rating.green-rating
                                                +icon('green-star')
                                                span 4,3
                                    .personal-reviews--trip.personal-reviews--trip--moble Андижан → Ташкент

                                    .personal-reviews--item--bottom
                                        p.personal-reviews--item--text Quam erat aliquet ultrices ut integer. Sit sit tellus ultricies neque vitae mattis dolor nunc, nibh. Sed ac consectetur purus dignissim hac metus mollis lacus elit. Egestas aenean eleifend nibh amet sit augue nisi, ac nulla. Nisl lobortis nisl dolor nunc quisque nisl varius quis. Gravida lobortis sed eget elementum quisque orci.
                            li.personal-reviews--item
                                .personal-reviews--item--wrap
                                    .personal-reviews--item--top
                                        .chat-content--review__trip--info
                                            .chat-content--review__trip--info__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png');")
                                            .chat-content--review__trip--name__trip
                                                span.chat-content--review__trip--name Матвей Федотов
                                                span.chat-content--review__trip--trip 01.06.2020

                                        .personal-reviews--trip--rating
                                            .personal-reviews--trip Андижан → Ташкент
                                            .gogocar-trips-category--rating.green-rating
                                                +icon('green-star')
                                                span 4,3
                                    .personal-reviews--trip.personal-reviews--trip--moble Андижан → Ташкент
                                    .personal-reviews--item--bottom
                                        p.personal-reviews--item--text Quam erat aliquet ultrices ut integer. Sit sit tellus ultricies neque vitae mattis dolor nunc, nibh. Sed ac consectetur purus dignissim hac metus mollis lacus elit. Egestas aenean eleifend nibh amet sit augue nisi, ac nulla. Nisl lobortis nisl dolor nunc quisque nisl varius quis. Gravida lobortis sed eget elementum quisque orci.

                            li.personal-reviews--item
                                .personal-reviews--item--wrap
                                    .personal-reviews--item--top
                                        .chat-content--review__trip--info
                                            .chat-content--review__trip--info__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png');")
                                            .chat-content--review__trip--name__trip
                                                span.chat-content--review__trip--name Матвей Федотов
                                                span.chat-content--review__trip--trip 01.06.2020

                                        .personal-reviews--trip--rating
                                            .personal-reviews--trip Андижан → Ташкент
                                            .gogocar-trips-category--rating.green-rating
                                                +icon('green-star')
                                                span 4,3
                                    .personal-reviews--trip.personal-reviews--trip--moble Андижан → Ташкент
                                    .personal-reviews--item--bottom
                                        p.personal-reviews--item--text Quam erat aliquet ultrices ut integer. Sit sit tellus ultricies neque vitae mattis dolor nunc, nibh. Sed ac consectetur purus dignissim hac metus mollis lacus elit. Egestas aenean eleifend nibh amet sit augue nisi, ac nulla. Nisl lobortis nisl dolor nunc quisque nisl varius quis. Gravida lobortis sed eget elementum quisque orci.
                            li.personal-reviews--item
                                .personal-reviews--item--wrap
                                    .personal-reviews--item--top
                                        .chat-content--review__trip--info
                                            .chat-content--review__trip--info__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png');")
                                            .chat-content--review__trip--name__trip
                                                span.chat-content--review__trip--name Матвей Федотов
                                                span.chat-content--review__trip--trip 01.06.2020
                                        .personal-reviews--trip--rating
                                            .personal-reviews--trip Андижан → Ташкент
                                            .gogocar-trips-category--rating.green-rating
                                                +icon('green-star')
                                                span 4,3
                                    .personal-reviews--trip.personal-reviews--trip--moble Андижан → Ташкент
                                    .personal-reviews--item--bottom
                                        p.personal-reviews--item--text Quam erat aliquet ultrices ut integer. Sit sit tellus ultricies neque vitae mattis dolor nunc, nibh. Sed ac consectetur purus dignissim hac metus mollis lacus elit. Egestas aenean eleifend nibh amet sit augue nisi, ac nulla. Nisl lobortis nisl dolor nunc quisque nisl varius quis. Gravida lobortis sed eget elementum quisque orci.
                        .col-xl-10.col-lg-10
                            .gogocar-yellow-button Показать еще


