section.trip-stops
    .container
        .trip-stops--wrap
            h1.col-xl-9.col-lg-9.main-section--title--v2.text-center.mb-5 Хотите #[span добавить остановки], которые могут забронировать пассажиры?
            ul.col-xl-8.col-lg-8.trip-stops--list
                li.trip-stops--item
                    .trip-stops--item--name__icon
                        .gogocar-gray-icons
                            +icon('map2')
                        span Узумчилик
                    .popup-gogocar-cargo--checkbox
                li.trip-stops--item
                    .trip-stops--item--name__icon
                        .gogocar-gray-icons
                            +icon('map2')
                        span Пунган
                    .popup-gogocar-cargo--checkbox
                li.trip-stops--item
                    .trip-stops--item--name__icon
                        .gogocar-gray-icons
                            +icon('map2')
                        span Ангрен
                    .popup-gogocar-cargo--checkbox
                li.trip-stops--item
                    .trip-stops--item--name__icon
                        .gogocar-gray-icons
                            +icon('map2')
                        span Нурабад
                    .popup-gogocar-cargo--checkbox
                li.trip-stops--item
                    .trip-stops--item--name__icon
                        .gogocar-gray-icons
                            +icon('map2')
                        span Ohangaron Madaniyat Va Istiroxat Bogi
                    .popup-gogocar-cargo--checkbox
            .trips-stops--added Добавить населенный пункт
            .gogocar-yellow-button Продолжить

