section.trip-comment
    .container
        .trip-comment--wrap
            h1.main-section--title.text-center.mb-5 Оставите комментарий #[span о поездке?]
            .col-xl-8.col-lg-8.trip-comment--content
                label Комментарий:
                textarea.trip-comment--textarea(rows="5" cols="10" placeholder="Здравствуйте! Я еду по работе, в багажнике много места. В салоне будем только мы.")
            .gogocar-yellow-button Опубликовать

