section.breadcrumbs.breadcrumbs-public-pages
    .container
        ul.breadcrumbs--list
            a.breadcrumbs--item(href="/") Главная
                +icon('arrow-right3')
            a.breadcrumbs--item(href="/") Найти поездку
                +icon('arrow-right3')
            a.breadcrumbs--item(href="/") Пассажирские поездки