section.breadcrumbs
    .container
        .breadcrumb--title Управление аккаунтом
        ul.breadcrumbs--list
            a.breadcrumbs--item(href="/") Главная
                +icon('arrow-right3')
            a.breadcrumbs--item(href="/") Управление аккаунтом




