.main-section-search--peoples__count--wrap
    .main-section-search--peoples__count
        .main-section-search--minus.main-section-search--controls.people-count-start
            +icon('minus')
        .main-section-search-count-div 1
        .main-section-search--plus.main-section-search--controls
            +icon('add')