.header-panel--fixed
    a.header-panel--fixed--item(href="/trip.html")
        +icon('car-f')
        span Поездки
    a.header-panel--fixed--item(href="/find-trip.html")
        +icon('search-f')
        span Поиск
    a.header-panel--fixed--item.hpfi-main(href="/type-trip.html")
        +icon('gogocar-f')
    a.header-panel--fixed--item(href="/personal-message.html")
        +icon('chat-f')
        span Диалоги
    .header-panel--fixed--item.gogocar-show-menu
        +icon('menu-f')
        span Меню