footer
    .footer-border
        .container
            .footer-wrap
                .col-xl-3.col-lg-3.col-md-3.footer-items
                    a.footer-logo(href="/")
                        +icon('logo2')
                    ul.footer-copy--social.footer-logo-social
                        a.footer-copy--social__item(href="/")
                            +icon('facebook')
                        a.footer-copy--social__item(href="/")
                            +icon('instagram')
                        a.footer-copy--social__item(href="/")
                            +icon('twitter')
                        a.footer-copy--social__item(href="/")
                            +icon('whatsapp')
                .col-xl-6.col-lg-6.col-md-5.footer-items
                    .footer-pages--wrap
                        ul.footer-pages-list
                            a.footer-pages-item(href="/") О нас
                            a.footer-pages-item(href="/") FAQ
                        ul.footer-pages-list
                            a.footer-pages-item(href="/") Связаться с нами
                            a.footer-pages-item(href="/") Ищем сотрудников
                        ul.footer-pages-list
                            a.footer-pages-item(href="/") Условия использования
                            a.footer-pages-item(href="/") Пресса о нас
                .col-xl-3.col-lg-3.col-md-4.footer-items
                    .footer-select-list
                        .footer-country-list
                            .footer-country-item.fci-choised
                                .footer-country-item__img(style="background-image:url('static/img/general/lang/ru.png')")
                                span Русский
                                +icon('arrow-right3')
                            .footer-country-list--block
                                .footer-country-item.fci-choise
                                    .footer-country-item__img(style="background-image:url('static/img/general/lang/uz.png')")
                                    span Узбекский
                                .footer-country-item.fci-choise
                                    .footer-country-item__img(style="background-image:url('static/img/general/lang/ru.png')")
                                    span Русский
            .footer-town-trip--wrap.row
                .col-xl-3.col-lg-3.col-md-6.col-sm-12.footer-town-trip--item.pl-0
                    ul.footer-town-trip--list
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')



                .col-xl-3.col-lg-3.col-md-6.col-sm-12.footer-town-trip--item
                    ul.footer-town-trip--list
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')

                .col-xl-3.col-lg-3.col-md-6.col-sm-12.footer-town-trip--item
                    ul.footer-town-trip--list
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                .col-xl-3.col-lg-3.col-md-6.col-sm-12.footer-town-trip--item.pr-0
                    ul.footer-town-trip--list
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
                        a.footer-town-trip-li--item(href="/")
                            .footer-town-trip--item__trip Ташкент → Андижан
                            .footer-town-trip-li--item--icon
                                +icon('arrow-right')
        .footer-copyright
            .container
                .footer-copy--wrap
                    .footer-copy--info GoGoCar, 2020 ©
                    ul.footer-copy--social
                        a.footer-copy--social__item(href="/")
                            +icon('facebook')
                        a.footer-copy--social__item(href="/")
                            +icon('instagram')
                        a.footer-copy--social__item(href="/")
                            +icon('twitter')
                        a.footer-copy--social__item(href="/")
                            +icon('whatsapp')





