extends ../layout/main

block variables
    - var title = 'Управление аккаунтом'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/acc-control/section-1