extends ../layout/main

block variables
    - var title = 'Предложить поездку (Добавить фото)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/add-photo/section-1
    include ../popup-modal/popup-go-back