extends ../layout/main

block variables
    - var title = 'Блог (Открытая новость)'
    - var pageClass = 'index-page'

block content
    include ../modules/breadcrumbs-main
    include blog-info/section1
