extends ../layout/main

block variables
    - var title = 'Бронирование места'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/car-place/section-1