extends ../layout/main

block variables
    - var title = 'Бронирование'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include cargo-trip/car-to-book/section-1