extends ../layout/main

block variables
    - var title = 'Бронирование места для груза'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include cargo-trip/car-place/section1