extends ../layout/main

block variables
    - var title = 'Грузовые поездки'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include cargo-trip/trip/section-1
    include cargo-trip/trip/section-2
    include cargo-trip/trip/section-3
    include cargo-trip/trip/section-4