extends ../layout/main

block variables
    - var title = 'Изменение поездки'
    - var pageClass = 'other-page'

block content
    include change-trip/section1
    include ../popup-modal/popup-change