extends ../layout/main

block variables
    - var title = 'Изменение грузовой поезки'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include change-trip2/section1
    include ../popup-modal/popup-change