extends ../layout/main

block variables
    - var title = 'Найти поездку'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/find-trip/section-1
    include peoples-trip/find-trip/section-2
