extends ../layout/personal

block variables
    - var title = 'Полученные отзывы'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-review/section-1