extends ../layout/personal

block variables
    - var title = 'Поддержка (Чат)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/pesonal-support2/section-1