extends ../layout/personal

block variables
    - var title = 'Фото профиля'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-photo/section-1