extends ../layout/personal

block variables
    - var title = 'Способы оплаты'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-pays/section1