extends ../layout/personal

block variables
    - var title = 'Сообщения'
    - var pageClass = 'other-page mobile-flow'

block content
    include ../modules/breadcrumbs2
    include profile/personal-messages/section-1