extends ../layout/personal

block variables
    - var title = 'Реферальная программа'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-referal/section-1