extends ../layout/personal

block variables
    - var title = 'Мой автомобиль'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-car/section-1