extends ../layout/personal

block variables
    - var title = 'Мой автомобиль (Добавить, легковое)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-add-car/section-1