extends ../layout/personal

block variables
    - var title = 'Оплата главная'
    - var pageClass = 'other-page'

block content
    include profile/personal-pay-pay/section1
    include ../popup-modal/popup-pay-finish