extends ../layout/personal

block variables
    - var title = 'Оставленные отзывы'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-all-reviews/section-1