extends ../layout/personal

block variables
    - var title = 'Почтовый адрес'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-mail/section-1