extends ../layout/personal

block variables
    - var title = 'Мой автомобиль (Добавить, грузовой)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-add-car-cargo/section-1