extends ../layout/personal

block variables
    - var title = 'Паспортные даные'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-pass-data/section1