extends ../layout/personal

block variables
    - var title = 'Мои персональные данные'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-settings/section-1