extends ../layout/personal

block variables
    - var title = 'Пароль'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-password/section-1