extends ../layout/personal

block variables
    - var title = 'Надежность пользователя'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-save/section-1