extends ../layout/personal

block variables
    - var title = 'Оповещения'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include profile/personal-notific/section-1