extends ../layout/main

block variables
    - var title = 'Пассажирская поездка (Открытая)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/plan-trip/section-1
    include peoples-trip/plan-trip/section-2