extends ../layout/main

block variables
    - var title = 'Грузовая поездка (Открытая)'
    - var pageClass = 'other-page'

block content
    include cargo-trip/plan-trip/section-1
    include peoples-trip/plan-trip/section-2