extends ../layout/main

block variables
    - var title = 'Предложить поездку (Изменить цену)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/remove-price/section-1