extends ../layout/main

block variables
    - var title = 'Предложить поездку (Откуда)'
    - var pageClass = 'other-page overflow-y-body'

block content
    include cargo-trip/suggest-late-from/section-1