extends ../layout/main

block variables
    - var title = 'Предложить поездку (Куда)'
    - var pageClass = 'other-page overflow-y-body'

block content
    include ../modules/breadcrumbs-main
    include cargo-trip/suggest-late/section-1