extends ../layout/main

block variables
    - var title = 'Предложить поездку (Откуда)'
    - var pageClass = 'other-page overflow-y-body'

block content
    include peoples-trip/suggest-late/section-1