extends ../layout/main

block variables
    - var title = 'Предложить поездку (сколько попутчиков?)'
    - var pageClass = 'other-page overflow-y-body'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/trip-choise-car/section-1
    include ../popup-modal/popup-fp