extends ../layout/main

block variables
    - var title = 'Предложить поездку (Комментарий)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/trip-comment/section-1
    include ../popup-modal/popup-finish