extends ../layout/main

block variables
    - var title = 'Предложить поездку (Высадка пассажира)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/trip-map-deploy/section-1