extends ../layout/main

block variables
    - var title = 'Вид поездки'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/type-trip/section-1