extends ../layout/main

block variables
    - var title = 'Предложить поездку (Когда состоится поездка ?)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include cargo-trip/when-trip/section-1