extends ../layout/main

block variables
    - var title = 'Ваши поездки (Попутчик, детально)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs-main
    include peoples-trip/plan-trip/section-1
    include peoples-trip/plan-trip/section-2
    include peoples-trip/you-trip-com-detail/section-1
    include ../popup-modal/popup-trip-cancel