section.you-trip-detail.pt-0
    .container
        .you-trip-detail--wrap.gogocar-box
            .you-trip-detail--buttons
                .you-trip-detail--copy Скопировать поездку
                .you-trip-detail--cancel(data-target="#popup-trip-cancel" data-toggle="modal") Отменить бронь
            .gogocar-yellow-icons
                +icon('search')
        .gogocar-you-trip-detail--yellow(data-target="#popup-trip-cancel" data-toggle="modal") Найти похожую
