// Media 1199,992,768,576

// @media 1199px
@media screen and (max-width: 1198px)

  .header-trip--wrap__link
    font-size 13px
    span
      font-size 13px
  .header-profile--reg,.header-profile--login
    font-size 13px
  .main-section--wrap
    .main-section--title
      font-size 39px
      span
        font-size 39px
    .main-section--desc
      font-size 15px
  .main-section-search--input__calendar,.main-section-search--input__to,.main-section-search--input__from,.main-section-search--input__peoples
    font-size 14px !important
  .main-section-search--wrap__input
    height 70px
    &:before
      height 70px
  .main-section-search--wrap__input:last-child
    max-width 30%
  .plan-trip--desc
    font-size 13px
  .gogocar-input-v1
    font-size 13px
  .section-title
    font-size 30px
  .section-desc
    font-size 14px
  .gogocar-trip--item__town span
    font-size 16px
  .gogocar-how-work--bottom p
    font-size 12px
  .why-choise-item--desc
    font-size 13px
  .why-choise-item--title
    font-size 26px
    span
      font-size 26px
  .header-profile--menu--item
    margin-bottom 25px
  .header-profile--menu--item span
    font-size 14px
  .popup-register-login
    font-size 14px
  .popup-register--link
    font-size 14px
  .footer-pages-item
    font-size 14px
  *
    font-size 13px
  .gogocar-drivers--price
    font-size 15px
    span
      font-size 15px
  .gogocar-trip--item__bottom
    font-size 15px
  .gogocar-drivers--profile
    size(45px)
    margin-right 10px
  .all-trip--popup__time--after .select-options li,.all-trip--popup__time--before .select-options li
    padding 10px
    width 57.5px
  .all-trip--popup__time--after .onCF li ul, .all-trip--popup__time--before .onCF li ul
    width 228%
  .all-trip--sort--select__item
    font-size 13px
  .gogocar-ready-plan--km__place
    margin-right 30px
  .gogocar-ready-plan--car,.gogocar-ready-plan--covid
    margin-right 30px
  .gogocar-ready-plan--bottom
    .gogocar-ready-plan--covid--info
      width 230px
  .gogocar-plan-trip-driver-position--town,.gogocar-plan-trip-driver-position--time
    font-size 14px

  .car-place--info .section-title
    font-size 26px
  .car-place--info .section-desc
    font-family 'Montserrat 400',sans-serif
    font-size 14px
  .car-left-bottom-place
    right 174px
  .car-right-bottom-place
    right 233px
  .car-right-top-place
    right 175px
  .type-trip--item .icon
    margin-bottom 15px
  .plan-trip--title
    min-height 76.5px
  .type-trip--item
    .section-desc
      min-height 125px
  .when-trip--date--arrows
    width 80%
  .remove-route--end,.remove-route--start
    font-size 13px
  .remove-change--price-text
    font-size 13px
  .notific-range-price
    width 222px
  .account-control--panel--edit
    font-size 12px
  .account-control--top__right--level--item.active .account-control--top--right--line
    width 100px
  .account-control--top__right--level--list:before
    width calc(100% + 20px)
  .account-control--top__right--level--item
    width 80px
  .account-control--prefer--item
    margin-bottom 20px
    &:nth-last-child(-n+3)
      margin-bottom 0
  .account-control--prefer--choise
    font-size 14px
  .account-control--submited--icon
    min-width 21px
  .account-control--submited--item .account-control--submited--item--name
    font-size 12px
  .account-control--date-register--icon
    min-width 40px
  .breadcrumbs--item
    font-size 12px
  .personal-content--body--content
    .gogocar-input--filter
      font-size 13px
    .all-trip--popup__col label
      font-size 13px
      margin-bottom 5px
    .gogocar-gray-icons
      min-width 42px
    .select-input
      font-size 13px
  .personal-content--prefes--icon:nth-last-child(-n+3)
    margin-bottom 20px
  .submit-yellow-icon
    min-width 30px
  .personal-review--wrap--content
    flex-wrap wrap
    padding 15px 30px
  .personal-review--circule
    display flex
    flex-direction column
    align-items center
  .personal-review--circule,.personal-review--rating-score
    margin-bottom 25px
  .personal-review--wrap--content .gogocar-yellow-button
    height 47px
    font-size 13px
  .personal-reviews--trip
    font-size 16px
  .personal-reviews--item--top .gogocar-trips-category--rating .icon
    size(22px)
  .personal-reviews--item--top .gogocar-trips-category--rating span
    font-size 16px
  .personal-reviews--item
    flex-direction column
  .personal-review--change--buttons
    margin-left 0
    display flex
    justify-content space-between
    .gogocar-gray-button:first-child
      margin-right 15px




// @media 992px
@media screen and (max-width: 991px)
  .personal-pay-pay-checkbox
    width 100%
  .chat-container-block,.chat-container-header
    border-radius 0
  .chat-gogocar-back--992
    display flex
  .chat-content-buttons__driver--992
    display flex
    align-items center
    .gogocar-yellow-button,.gogocar-gray-button
      width 120px
      color #fff
      font-size 13px
      font-family 'Montserrat 500',sans-serif
      height 42px
    .gogocar-gray-button
      margin-right 10px
  .chat-gogocar-yellow-button-desctop
    display none
  .chat-container-992
    display block
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    will-change: transform;
    transform: translateX(-100vw);
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    z-index: 1550;
  .chat-container-992.active
    transform: translateX(0);
  .chat-container-992--title
    display none
  .footer-town-trip--item:nth-child(2)
    padding-right 0
    margin-bottom 40px
  .footer-town-trip--item:nth-child(3)
    padding-left 0
  .footer-town-trip--item:first-child
    margin-bottom 40px
  .header-logo .icon
    width 150px
    height 50px
  .header-trip--wrap
    flex-direction column
    align-items flex-start
  .header-trip--wrap__link
    margin-bottom 5px
  .main-section--wrap .main-section--title
    font-size 33px
    span
      font-size 33px
  .main-section--platforms
    margin-right 20px
  .main-section-search
    flex-wrap wrap
    padding 0
  .main-section-search--wrap__input
    max-width 50%
    padding 0 15px
  .main-section-search--wrap__input:last-child
    max-width 50%
  .main-section-search--wrap__input:nth-child(3):before
    display none
  .main-section-search--icon
    padding 8px
  .main-section-search--input__calendar
    padding-left 65px !important
  .main-section-search--wrap__input input
    padding-left 75px !important
  .main-section-search--wrap__input:nth-child(2),.main-section-search--wrap__input:nth-child(4)
    padding-left 0
  .gogocar-trip--item
    margin-bottom 30px
  .gogocar-how-work--item
    margin-bottom 40px
  .how-work--list
    margin-bottom 0
  section
    padding 40px 0
  .blog-main--item__title--v2
    display flex
    align-items center
    font-size 14px
  .blog-main--item__date
    font-size 12px
  .blog-main--item__content
    width 420px
  .footer-pages--wrap
    flex-direction column
  .footer-pages-list
    align-items center
    margin-bottom 15px

    &:last-child
      margin-bottom 0
  .footer-logo .icon
    width 150px
  .footer-items:first-child
    padding-right 0
  .footer-copy--info
    font-size 13px
  .header-user-profile--link span
    font-size 19px
  .header-user-profile--img
    size(45px)
  .find-trips-tab .icon
    width 125px
    min-width 125px
    margin-right 18px
  .find-trips-tab span
    font-size 18px
  .find-trips-tab
    padding 20px
  .main-section--title
    font-size 32px
    span
      font-size 32px
  .gogocar-trip-filter--info
    padding-left 50px
    padding-right 10px
  .all-trip--left-span-desk
    display none
  .all-trip--left-span-mobile
    display block
  .chat-section
    flex-direction column
  .chat-content--info
    padding-left 0
  .chat-container
    padding-right 0
    margin-bottom 20px
  .chat-content--warning
    margin-bottom 30px
  .gogocar-ready-plan--car,.gogocar-ready-plan--covid
    display none
  .gogocar-ready-plan__mobile
    display flex
    justify-content space-between
    .gogocar-ready-plan--car,.gogocar-ready-plan--covid
      display flex
      margin-right 0
  .main-section--title--v2
    font-size 32px
    span
      font-size 32px
  //.chat-container
  //  height calc(100vh - 80px)
  .chat-container-block
    height 100%
  .chat-container-main
    height calc(100% - 160px)
  .chat-container-footer
    position relative
    bottom 20px
    padding-top 20px
  .chat-container-main--info
    max-height 100%
  .car-place--svg
    height 325px
  .car-right-top-place
    right: 131px;
    width: 39px;
    top: 126px;
  .car-left-bottom-place
    right: 130.5px;
    width: 39px;
    top: 191px;
  .car-right-bottom-place
    right: 173.5px;
    width: 39px;
    top: 191px;
  .car-place--info .gogocar-ready-plan--covid
    display flex
    margin-bottom 30px
  .gogocar-ready-plan--car .gogocar-gray-icons, .gogocar-ready-plan--covid .gogocar-gray-icons
    min-width 42px
  .trip-map--absolute
    padding 15px
    .gogocar-input--wrapper
      margin-bottom 0
  .when-trip--date--arrows
    width 100%
  .modal-970
    max-width min-content
  .gogocar-placeholder label
    font-size 12px
  .notific-range-price
    width 216px
  .account-control--bottom__panel--wrap:nth-child(3n+3)
    padding-right 15px
    padding-left 0
  .account-control--bottom__panel--wrap:nth-child(4n+4)
    padding-left 15px
    padding-right 0
  .account-control--bottom__panel--wrap:last-child
    padding-right 0
    padding-left 15px
  .account-control--bottom__panel--wrap:nth-last-child(-2n + 2)
    padding-left 0
  .account-control--bottom__panel--wrap:nth-child(2)
    padding-right 0
  .account-control--top__panel
    flex-direction column
  .account-control--top__right--level--list
    width 100%
  .account-control--top__left
    margin-bottom 20px
    padding 0
  .account-control--top__right
    padding-left 0
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin 0 auto
    margin-top 0
    margin-bottom 30px
  .account-control--top__right--level--item.active .account-control--top--right--line
    width 128px
  .account-control--top__right--level--list:before
    width: calc(100% + 45px);
  .personal-content--body--content .gogocar-ready-plan--covid
    display flex
  .personal-photo--content
    flex-direction column
  .personal-photo--photo-rules
    padding-left 0
  .personal-photo--dropzone-photo
    margin-bottom 30px
  .personal-info-about-me
    display flex
    margin-right 0
    .gogocar-gray-icons
      max-height 71px
      height 100px
  .personal-content--prefes--list
    margin-right 0
    margin-left 0
  .personal-save--item__content
    flex-direction column
  .personal-save--item__left
    padding 0
  .personal-save--item__rihgt
    .submit-green-icon
      position absolute
      top: 24px;
      right: 15px;
      size(20px)
      .icon
        size(12px)
  .personal-save--item
    position relative
    flex-direction column
  .personal-save--item__content--wrap
    margin-bottom 9px
  .personal-save--item2
    flex-direction column
    .personal-save--item__text
      margin-bottom 20px
    .submit-yellow-icon
       size(20px)
       min-width 20px
       margin-right 10px
       .icon
         size(12px)
  .personal-save--item__rihgt--submit
    font-size 14px
  .personal-save--item__rihgt

  .personal-save--item__rihgt--wrap
    width: 100%;
    flex-flow: row-reverse;
    justify-content: flex-end
  .personal-account--flex-wrap
    flex-flow row
    .personal-save--item__rihgt--account
      width 100%
      margin-right 20px
  .personal-car--list
    flex-direction column
  .gogocar-added-car-li
    height 99px
  .personal-review--circule
    flex-direction row-reverse
  .personal-review--rating-score
    padding 0
  .personal-review--wrap--content
    padding 15px 20px
  .personal-review--rating-line-center
    max-width 180px
  .personal-rev-circule
    margin-right 20px
  .personal-review--circule--desc
    display block
  .personal-review--circule--name
    margin-bottom 7px
  .personal-review--wrap--content
    .gogocar-yellow-button
      margin 0 auto !important
  .personal-reviews--trip
    display none
  .personal-content--header .gogocar-yellow-button,.personal-content--header .gogocar-gray-button
    min-width 92px
    max-width 92px
  .personal-pay--data
    display none
  .personal-pay--data--mobile
    display block
    .personal-pay--header--childen__item
      display flex
      flex-direction column
    .pp-price,.pp-date
      margin-top 10px
    .personal-pay--header--item__name
      padding-right 15px
    .personal-pay--header--item.text-right
      .personal-pay--header--childen__item
        padding-right 15px
  .personal-pay--header--childen__item
    font-size 12px
  .pp-date,.pp-price
    font-size 12px
  .personal-pay--book--wrap
    display flex
    .personal-pay--to__book
      display none
    .gogocar-gray-icons
      max-height: 71px;
      height: 100px;
  .gogocar-go-back--desktop
    display none
  .personal-fixed-chat--container
    position fixed
    display block
    padding 0
    top 0
    right 0
    left 0
    bottom 0
    will-change transform
    transform translateX(-100vw)
    transition all .5s ease
    width 100%
    height 100%
    z-index 1550
    .chat-container-block
      border-radius 0
    .chat-container-header
      border-radius 0
  .personal-fixed-chat--container.active
    transform translateX(0)
  .gogocar-go-back-chat--mobile
    display flex
  .gogocar-go-back--mobile
    display flex
    left auto !important
  .personal-content--header--support
    display flex
    flex-direction column
    .personal-content--header--title
      margin-bottom 20px
  .personal-add--appeal--desktop
    margin 0 auto !important
  .personal-pay--header--item--wrap,.personal-pay--header--child
    display flex
    justify-content space-between
    align-items center
  .font-family-m-500
    font-family 'Montserrat SB',sans-serif
    font-size 13px
  .personal-pay--header--childen__item
    padding-right 15px
  .personal-support2--wrapper
    display flex
    flex-direction column
    .personal-sidebar
      padding-right 0
      order 2
    .personal-support2
      padding 0
      order 1
      margin-bottom 20px
      .chat-container-footer
        bottom 0
  .gogocar-personal-pass
    padding 0
    margin-bottom 10px

  .personal-delete--info
    .gogocar-gray-icons
      min-width 42px
      min-height 71px
      height 100%
  .personal-delete-zone
    .all-trip--popup__col
      padding 0
  .personal-referal--content
    flex-direction column
  .personal-referal--content .personal-count--balance--wrap
    margin-right 0
  .personal-referal--input
    flex-direction column
    .popup-output--money--wrap
      margin-right 0
      margin-bottom 15px
  .personal-referal--content
    .personal-count--balance--wrap
      width 100%
      margin 0
      margin-bottom 15px
      border-radius 10px
      &:last-child
        margin-bottom 45px
  .personal-referal--body
    .personal-add--car--title
      font-size 14px
  .popup-pay-card--wrap
    width 100%
    margin-bottom 140px
  .popup-pay-card-front,.popup-pay-card-back
    width 100%
  .popup-pay-card-back
    top 150px
  .popup-pay-card-back--number
    width 90%
    margin 0 auto
    span
      display flex
      justify-content center
      align-items center
      text-align center
      margin 0 45px
      margin-top 0
  .popup-pay-card-back--number
    flex-direction row-reverse




// @media 768px
@media screen and (max-width: 767px)
  .change-trip-people-and-time
    flex-direction column
  .footer-town-trip--item
    padding 0
  .footer-town-trip--item:nth-child(3)
    margin-bottom 40px
  .when-trip .when-trip-calendar .gogocar-calendar-next,.gogocar-calendar-prev, .trip-show-calendar .gogocar-calendar-next,.gogocar-calendar-prev
    pointer-events auto
    opacity 1
  .header-mobile-menu-main
    padding-top 0
    border-top 1px solid rgba(119, 132, 156, 0.2)
    background-color #363D4A
    .header-profile--menu--list
      display block !important
      position relative
      top 0
      box-shadow none
      width 100%
      background-color transparent
      padding 0
    .header-profile--menu--logout
      background-color transparent
      padding 15px
      margin 0
      &:hover
        background-color #424B5B
    .gogocar-box
      background-color transparent
    .header-profile--menu--item
      margin 0
      padding 15px
      &:hover
        background-color #424B5B
    .personal-sidebar--content
      padding-bottom 33px
    .footer-copyright
      background-color #404753
  .personal-appear--file--wrap
    .personal-file-button--added
      order 2
      .icon
        size(19px)
    .personal-loaded--file
      order 1


  .popup-modal--money,.popup-support--appear
    padding 0
  .popular-trip-slider .gogocar-yellow-button
    display flex
  .header-trip
    display none
  .main-section--wrap
    flex-direction column
    flex-flow wrap-reverse
    padding-top 30px
    margin-bottom 60px
  .main-section--wrap .main-section--title
    display flex
    flex-direction column
    align-items center
  .main-section--car
    margin-bottom 20px
  .main-section--wrap .main-section--desc
    text-align center
    margin-bottom 30px
  .main-section--mobile-platform
    justify-content center
  .main-section
    padding-bottom 70px
  .gogocar-calendar-days
    font-size 13px
    size(36px !important)
  .datepicker-container
    width 252px
  .plan-trip--wrap
    flex-direction column
  .plan-trip--baner
    height 32vh
    padding-right 0
    display flex
    justify-content center
    margin-bottom 20px
  .plan-trip--desc
    margin-bottom 40px
  .section-title
    font-size 27px
  .section-desc
    font-size 13px
    font-family 'Montserrat 400',sans-serif
  .blog-main--link
    font-size 14px
    width 100px
    margin-right 20px
  .footer-wrap
    flex-direction column
  .footer-pages-item
    font-family 'Montserrat 400',sans-serif
  .footer-items:first-child
    display flex
    justify-content center
  .main-section--illustration
    height 275px
  .find-trip-choise--wrap
    flex-direction column
  .find-trips-tab
    width 100%
  .find-trips-tab
    margin-bottom 20px
    &:last-child
      margin-bottom 0
  .find-trips-tab span
    width max-content
    font-size 20px
  .find-trips-tab .icon
    width 160px
    min-width 160px
  .popup-modal--wrap
    width 100%
    max-width: 480px
    //height 100%

  .popup-buttons-ok-close .gogocar-gray-button,.popup-buttons-ok-close .gogocar-yellow-button
    min-width 190px
  .ggc-cargo--item
    font-size 12px
    padding: 8px
    height: 30px
  .drivers-nearby--list
    //margin 0 -37px
  .trips-category--buttons
    padding 0
    .gogocar-gray-button
      width 130px
      font-size 12px
      height 40px
  .gogocar-trip-filter-h
    .gogocar-gray-icons
      display none
    .gogocar-trip-filter--info
      flex-direction column
      height 100%
      align-items flex-start
      padding 10px 0
    .gogocar-trip-filter--item
      margin-bottom 15px
      &:last-child
        margin-bottom 0
    .gogocar-trip-filter--item__info
      font-family 'Montserrat 400',sans-serif
      font-size 13px
  .all-trip--popup__time--after .onCF li ul, .all-trip--popup__time--before .onCF li ul
    width 216%
  .all-trip--popup__time--after .select-options li, .all-trip--popup__time--before .select-options li
    width 63.5px
  .all-trip--popup__time--after .onCF li ul
    left -116%
  .gogocar-plan-trip-driver-position--town span, .gogocar-plan-trip-driver-position--time span
    font-size 14px
  .chat-container--message
    font-size 12px
    word-break break-all
  .chat-container-message--wrap
    padding 10px
  .chat-container-message--format-download
    left 0 !important
  .car-place--content
    flex-direction column
  .car-place--svg .icon
    transform rotate(90deg)
  .car-place--svg
    height: 450px;
    margin: -110px 0;
  .car-place--wrapper .main-section--title
    margin-bottom 15px !important
  .car-right-top-place
    transform rotate(90deg)
    right: 228px;
    width: 60px;
    top: 106px;
    height 80px
  .car-right-bottom-place
    transform rotate(90deg)
    right: 320px;
    width: 60px;
    top: 107px;
    height: 80px;
  .car-left-bottom-place
    transform rotate(90deg)
    right: 321px;
    width: 60px;
    top: 46px;
    height: 80px;
  .type-trip--list
    display flex
    flex-direction column
    .col-xl-6
      margin-bottom 20px
  .plan-trip--title
    min-height auto
  .type-trip--item
    .section-desc
      min-height auto
  .when-trip-date--option
    width 345px
  .when-trip--date--arrows
    display none
  .when-trip-date
    .when-trip-calendar .datepicker-container,.trip-show-calendar .datepicker-container
      width 272px
  .when-trip-date--option li
    width 69px
    padding 12px 18px
  .when-trip-date
    .when-trip-calendar
      display none
    .trip-show-calendar
      margin-right 0 !important
  .popup-icon-size
    .icon
      width 100%
  .trip-choise-car-cargo
    flex-direction column
  .trip-choise-car-type
    .gogocar-gray-icons
      left auto
  .trip-choise-car-cargo
    .gogocar-placeholder label
      padding-left 67px
  .poopup-friendly-price
    font-size 24px
  .remove-price--content
    .gogocar-input--wrapper
      display none
  .remove-price--content
    .gogocar-trip--item
      display block
  .remove-price--content .gogocar-trip--item__route
    max-width  100%
  .remove-change--price
    width 100%
  .notific-trip--item
    .gogocar-trip--item__bottom
      flex-direction column
  .notific-trip-date-price
    flex-direction column
    flex-flow column-reverse
    width 100%
    margin-bottom 15px
  .all-trip--popup__col
    margin-right 0 !important
  .notific-range-price
    width 100%
  .notific-input-icon
    width 100%
  .notific-icons
    width 100%
    justify-content space-between
  .you-trip--companion
    display none
  .you-trip--companions
    .cat-to-book--item__img
      margin-right 0
  .you-trip-detail--wrap
    .gogocar-red-icons
      display none
  .you-trip-detail--buttons
    flex-direction column
    width 100%
  .you-trip-detail--copy
    margin-right 0
    margin-bottom 15px
  .chat-wrap .col-lg-9
    padding 0
  .gogocar-you-trip-detail--red
    display flex
  .you-trip-detail--wrap
    margin-bottom 20px

  .you-trip-driver-chat .chat-content--info__driver--review
    height: calc(100vh - 80px);
  .you-trip-chat-content
    max-height: calc(100vh - 169px);
    min-height auto
  .you-trip-detail--wrap
    .gogocar-yellow-icons
      display none
  .gogocar-you-trip-detail--yellow
    display flex
  .plan-trip--info
    padding-left 0
  .account-control--bottom__panel--wrap
    padding 0 !important
  .account-control--top__right--level--list__mobile
    display flex
  .account-control--top--right--line__mobile
    display flex
    margin-bottom 20px
  .account-control--top__right--level--list
    display none
  .account-control--top__right
    margin-bottom 0
  .account-control--top__panel
    padding 0
  .account-control--top__left
    padding 30px
    padding-bottom 30px
    padding-left 30px !important
    border-bottom 1px solid rgba(153, 163, 181, 0.1)
  .account-control--top__right
    padding 30px
    padding-top 0
    padding-right 30px !important
  .header-profile--menu
    display none
  .header-profile--menu__mobile
    display flex
  .personal-sidebar--content
    border-radius 0
  .personal-sidebar--content
    margin-bottom 20px
  .personal-sidebar
    display none
  .personal-content
    padding-left 0
  .personal-content--header
    display none
  .personal-content--prefes--title
    display block
  .personal-content--prefes--item
    display flex
    flex-direction column
    align-items center
  .personal-type-car--item--name
    font-size 13px
  .personal-color-car--item
    margin-bottom 24px
    margin-right 24px
  .personal-review--circule,.personal-review--rating-score
    margin 0 auto
  .personal-review--rating-score--item
    justify-content center
  .personal-review--circule
    margin-bottom 20px
  .personal-review--rating-score
    margin-bottom 50px
  .personal-review--wrap
    margin-bottom 50px
  .personal-reviews--trip--moble
    display flex
    margin-bottom 10px
  .personal-pay--book--wrap
    margin-right 0
  .personal-pay--header__mobile
    display flex
    margin-bottom 30px
    justify-content center
  .personal-pay--filter--top
    display none
  .personal-pay--filter--top--mobile
    display flex
  .personal-pay--filter--wrap
    order 1
  .personal-pay--header__mobile
    order 2
  .personal-pay--book--wrap
    order 3
  .personal-pay--data--mobile
    order 4
  .chat-container-main--info
    padding-bottom 50px
  .personal-add--appeal--desktop
    display none
  .personal-add--appeal--mobile
    display flex
    justify-content center
    align-items center
    margin 0 auto !important
  .personal-support2
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    size(100%)
    z-index 1550
    .chat-container-footer
      bottom 20px !important
    .chat-container-block,.chat-container-header
      border-radius 0
  .blog-main--item__img
    min-width 240px
  .blog-main--bottom
    .blog-main--item__wrap:nth-child(1)
      order 1
    .blog-main--item__wrap:nth-child(2)
      order 2
    .blog-main--item__wrap:nth-child(3)
      order 4
    .blog-main--item__wrap:nth-child(4)
      order 3
    .blog-main--item__wrap:nth-child(5)
      order 6
    .blog-main--item__wrap:nth-child(6)
      order 5
  .change-trip--where
    margin-bottom 40px
  .gogocar-title-input
    font-size 18px
  .change-trip-people-and-time
    flex-direction column-reverse
    .when-trip-date
      width 100%
      margin-bottom 30px !important
      padding 0
    .trip-choise-car--count
      width 100%
    .trip-choise-car--count-field
      width 100%
  .change-trip-people-covid
    display none
  .change-trip-people--wrap
    .trip-choise-car--count
      width 100%
    .trip-choise-car--count-field
      width 100%
  .change-trip-go-back--buttons
    flex-direction column
    .gogocar-yellow-button
      max-width 100%
      margin-bottom 30px
    .gogocar-gray-button
      max-width 100%
  .you-trip-delete-and-change
    .gogocar-red-icons
      display flex
  .you-trip-detail--buttons2
    align-items flex-start
  .popup-pay-card-back--wrap
    width 40%

@media screen and (max-width: 575px)
  .personal-absolute-chat--container
    height calc(100vh - 55px)
  .gogocar-select-country--wrap--reg,.gogocar-select-country--wrap
    flex-direction column
    .popup-input--wrapper
      width 100%
  .gogocar-select-country-reg
    width 100%
    margin-right 0
  .gogocar-select-country
    width 100% !important
    margin-right 0
    margin-bottom 15px
  .gogocar-select-country--wrap
    .mask-phone-choise
      width 100%

  .media-576
    display flex
  .header-profile--menu
    display none
  .header-profile--reg
    display none
  .header-profile--login
    display none
  .header-user-profile--link span
    display none
  .header-user-profile--img
    margin-right 0
  .header-user-profile
    margin-left 0
  .header-sandwich-menu
    display: flex;
  .blog-main--top
    flex-direction column
  .header-user-profile--img
    size(40px)
  .header-logo .icon
    width 130px
  .main-section--illustration
    height 49vw
  .main-section--wrap .main-section--title
    font-size 26px
    span
      font-size 26px
      margin-top 8px
  .main-section--desc
    font-family 'Montserrat 400',sans-serif
    font-size 13px
  .main-section--platforms
    margin-right 15px
  .main-section--name-platform
    font-size 10px
  .main-section--available
    font-size 7px
    margin-bottom 3px
  .main-section--info
    padding-right 0
  .main-section--wrap
    padding-top 0
  .main-section-search--icon
    padding 5px
    size(40px)
  .main-section-search--wrap__input .icon
    size(24px)
  .main-section-search--wrap__input:nth-child(4)
    position relative
  .main-section-search
    position relative
    border-radius 15px 15px 0 0
  .main-section-search--submit
    width: 201%;
    left: -101%;
    right 0
    border-radius 0 0 15px 15px
    bottom -50px
  .main-section-search--wrap__input
    padding 0 10px
    border 1px solid rgba(74, 82, 95, 0.5)
    &:nth-child(1)
      border-top none
      border-left none
      border-right none
      border-bottom none
    &:nth-child(2)
      border-top none
      border-right none
      border-bottom none
    &:nth-child(3)
      border-bottom none
      border-left none
      border-right none
    &:nth-child(4)
      border-bottom none
      border-right none
  .main-section-search--wrap__input input
    padding-left 60px !important
  .main-section-search--wrap__input:before
    display none
  .main-section-search--wrap__input:nth-child(2), .main-section-search--wrap__input:nth-child(4)
    padding 0 10px
  .main-section-search--peoples__count--wrap
    width 201%
    left -101%
    bottom 150px
  .main-section--wrap
    margin-bottom 79px

  .main-section-search--controls

    .icon
      size(35px)
      min-width 35px
  .header-container
    position fixed

  .main-section
    padding-bottom 0
    padding-top 20px
  .plan-trip
    margin-top 60px
  .plan-trip--baner
    height 150px
    margin-bottom 0
  .plan-trip--desc
    font-family 'Montserrat 400',sans-serif
    margin-bottom 25px
  .gogocar-trip--item
    padding 0 6px
  .section-desc
    margin-bottom 30px
  .how-work--wrap
    .section-desc
      margin-bottom 50px
  .gogocar-how-work--number
    font-size 60px
    line-height 30px
  .gogocar-how-work--bottom

    span
      font-size 18px
      margin-bottom 10px
  .how-work-item--icon
    size(60px)
    .icon
      size(34px)
  .gogocar-how-work--bottom p
    font-family 'Montserrat 400',sans-serif
    font-size 13px
  .how-work--list .slick-track
    padding-top 22px
  .how-dots--wrap
    display flex
    justify-content center
    align-items center
  .gogocar-how-work--item__wrap
    max-height 202px
    min-height 202px
  .gogocar-how-work--item
    margin-bottom 20px
    outline none
  .why-choise-item
    flex-direction column
    outline none

  .why-choise-item--baner .icon
    display flex
    margin 0 auto

  .why-choise-item--baner
    padding 0
    height 200px
    margin-bottom 25px
  .why-choise-item--info
    padding 0
  .why-choise-item:nth-child(2n)
    flex-flow column
  .why-choise-item--title
    text-align center
    font-size 18px
    margin-bottom 15px
    span
      font-size 18px
  .why-choise-item--desc
    font-family 'Montserrat 400',sans-serif
    font-size 13px
    text-align center
    padding 0 15px
  .why-dots--wrap
    display flex
    justify-content center
    align-items center
    margin-bottom 0
  .header-user-profile
    display block
  .why-choise-list
    margin 0 -15px
  .blog-main--title
    margin-bottom 15px
  .blog-main--item__desc
    display none
  .blog-main--item
    flex-direction column
  .blog-main--item__img
    width 100%
    background-size cover
  .blog-main--item__img--v2
    background-size cover !important

  .blog-main--item__content:before
    display none
  .blog-main--item__content
    padding 20px 15px
    width 100%
    height 25%
  .blog-main--item__title
    padding-bottom 0
    margin-bottom 0
    font-size 14px
    border-bottom none
  .blog-main--link
    margin-right 15px
  .blog-main-dots--wrap
    display flex
    justify-content center
    align-items center
  .blog-read-all-articles
    display none
  .go-read-all-articles
    display flex
  .footer-items:nth-child(2)
    margin-bottom 30px

  .footer-logo .icon
    height 50px
  .footer-items:nth-child(1)
    margin-bottom 30px

  .footer-items:last-child
    padding-left 0
  .footer-country-list
    width 100%
    margin-right 20px

  .footer-copy--social
    display none
  .footer-logo-social
    display flex
  .footer-items:first-child
    flex-direction column
    align-items center
    .footer-logo
      margin-bottom 20px
  .footer-copy--wrap
    justify-content center
  .find-trips-tab span
    width 120px
    font-size 16px
  .find-trips-tab .icon
    width 110px
    min-width 110px
  .find-trips-tab
    height 100px
    padding 10px 20px
  .main-section--title
    font-size 26px
    span
      font-size 26px
  .gogocar-input--wrapper
    margin-bottom 15px
  .find-trip-form--wrapper
    padding 0
  .gogocar-gray-icons
    left 10px
  .gogocar-input-v1
    padding-left 59px
    font-size 13px !important
    padding-right 5px
  .find-trip-data__count
    margin-bottom 60px
    .gogocar-input--wrapper
      width 100%
    .gogocar-input--wrapper:nth-child(2)
      position inherit
      .gogocar-gray-icons
        left 3%
    .main-section-search--peoples__count--wrap
      width 100%
      left 0
      bottom 55px
  .find-trip-data__count, .find-trip-data__weight
    flex-direction column
  .find-trip-data__weight
    .gogocar-input--wrapper
      width 100%
  .gogocar-placeholder label
    padding-left 59px
    font-size 13px
  .popup-content
    padding 15px
  .popup-gogocar-type-cargo
    width 100%
  .popup-gogocar-type-cargo--item__wrap
    padding 0
  .popup-gogocar-type-cargo--item span
    font-size 13px
  .popup-buttons-ok-close
    flex-direction column
    .gogocar-yellow-button,.gogocar-gray-button
      width 225px
      font-size 13px

  .type-cargo-choise
    margin-right 0 !important
    margin-bottom 15px
  .popular-trip-slider-js .gogocar-trip--item
    min-width 300px
    width 300px
    padding 0 6px
    margin-bottom 0

  .gogocar-yellow-button
    height 50px
    width 100%
  .popular-trip-slider-js .gogocar-yellow-button
    display flex
  .section-title
    padding 0 15px
  .all-trip--sort
    display none
  .main-section--title--v2
    font-size 24px
    margin-bottom 15px
    span
      font-size 24px
  .gogocar-drivers--profile
    display none
  .atpc-filter
    margin-bottom 10px
  .atpc-filter:nth-last-child(-n+3)
    margin-bottom 10px
  .trips-category--buttons
    padding 0
    margin-bottom 20px
    justify-content space-between
    .gogocar-gray-button
      width 100px
      font-size 10px
      margin 0
  .trips-category
    padding-top 0
  .all-trip--popup__time--after .onCF li ul, .all-trip--popup__time--before .onCF li ul
    width 215%
  .all-trip--popup__time--after .select-options li, .all-trip--popup__time--before .select-options li
    padding 10px 10px
    width 69px
    text-align center
  .all-trip--popup__time--after .onCF li ul
    left -115%
  .gogocar-trip--item__km
    font-size 13px
    span
      font-size 13px
  .gogocar-drivers--time--start span, .gogocar-drivers--time--end span
      font-size 13px
  .gogocar-trips-category--name
    font-size 17px
  .gogocar-trips-category--price
    font-size 18px
  .trips-category
    .gogocar-drivers--profile
      display flex
    .trips-catelory--list
      margin 0 -9px
  .gogocar-trips-category--rating .icon
    size(17px)
  .gogocar-gray-button
    height 47px
    font-size 13px
  .gogocar-gray-icons2
    min-width 36px
    width 36px
    height 36px
  .gogocar-plan-trip-driver-position--town
    display none
  .ready-plan-trip--info
    .gogocar-trip--item
      padding 0
  .chat-container-message--img
    size(40px)
    min-width 40px
  .chat-container-message-in .chat-container-message--info__message
    margin-left 10px
  .chat-container-message-out .chat-container-message--info__message
    margin-right 10px
  .chat-container-header--name
    font-size 16px
  .chat-container-header--desc
    font-size 11px
  .chat .container
    padding 0
  .chat-content--info
    padding 0 15px
  .chat-container-message--img
    display none
  .chat-container-message--wrapper
    max-width 85%
  .chat-container-message--date__name span
    font-size 11px
  .chat-container-message-in .chat-container-message--format-text
    margin-left 10px
    margin-right 10px
  .chat-container-message--format .icon
    margin-right 10px
  .chat-container-message-out .chat-container-message--format-text
    margin-right 10px
  .chat-container-footer--placeholder
    font-size 12px
  .chat-container-header--img
    margin-right 10px
  .chat-container-header
    padding 10px
  .chat-container-header--option
    left 0

  .chat-container-block
    height 100%
    border-radius 0
  .chat-container-main
    height calc(100% - 150px)
  .personal-fixed-chat--wrap
    .chat-container-footer
      position absolute
      bottom 0px
    .chat-container-main--info
      max-height calc(100vh - 150px)
  .chat-container-footer
    position absolute
    bottom 0px
  //.chat-container-main--info
  //  max-height calc(100vh - 230px)
  .chat-container-header
    border-radius 0
  .gogocar-ready-plan__price
    font-size 15px
  .gogocar-ready-plan--km__place
    margin-right 15px
  .gogocar-ready-plan--map__price .gogocar-gray-icons
    margin-right 10px
  .gogocar-plan-trip-driver-position--town, .gogocar-plan-trip-driver-position--time
    padding 0 70px
  .gogocar-ready-plan-trip--info
    top 0
  .gogocar-plan-trip-driver-position--town span, .gogocar-plan-trip-driver-position--time span, .gogocar-plan-trip-driver-position--dot:before
    left calc(25% + 8%)
  .gogocar-ready-plan--place
    font-size 12px
    width 120px
  .chat-container-option--message--item
    margin-bottom 15px
  .chat-container-option--message
    padding 12px
  .chat-content--info__driver--profile .gogocar-yellow-button
    font-size 14px
  .car-place
    overflow hidden
  .car-right-top-place
    right: 45%;
    width: 11.5%;
    top: 6vw
    height: 100%;
  .car-right-bottom-place
    right: 63.5%
    width: 11.5%;
    top: 6vw
    height: 100%;
  .car-place--svg
    display flex
    justify-content center
    align-items center
  .car-place--svg .icon
    max-height: 405px;
    max-width: 286px;
  .car-place--svg
    height 325px
  .car-right-top-place
    right: 147px;
    width: 35.5px;
    top: 105px;
    height: 60px;
  .car-left-bottom-place
    right: 205px;
    width: 35.5px;
    top: 66.7px;
    height: 60px;
  .car-right-bottom-place
    right: 205.5px;
    width: 35.5px;
    top: 106px;
    height: 60px;
  .car-place--position
    max-width 325px
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
  .car-place--content
    align-items center
  .car-place--content
    .section-desc
      margin-bottom 14px
      font-family 'Montserrat 400',sans-serif
    .section-title
      margin-bottom 20px
  .car-to-book--services
    flex-direction column
  .car-to-book--services--right .car-to-book--services--left--content
    flex-direction row-reverse
    align-items flex-end
    justify-content flex-end
  .car-to-book--services--left
    margin-bottom 20px
  .car-to-book--during--right
    margin-right 10px
  .car-to-book--item--date
    font-size 15px
  .car-to-book--item--top,.car-to-book--item--bottom
    padding 12px
  .cat-to-book--bottom-how-to-pay
    font-size 15px
  .car-to-book--during
    font-size 12px
    span
      font-size 12px
  .gogocar-trip--item__bottom
    padding 12px
    padding-top 27px
  .car-to-book--content
    padding 0
    .gogocar-trip--item
      padding 0
  .type-trip--list
    padding 0
    .col-xl-6
      padding 0
  .suggest-late--result--item__left span
    font-size 13px
  .suggest-late--result--item
    padding-left 0
  .suggest-late--inputs
    padding 0
  .suggest-lat--to--country
    font-size 11px
  .suggest-lat--to--town
    font-size 13px
  .trip-map--wrap
    display none
  .trip-map--buttons__mobile
    display block
    width: 100%;
    position absolute
    height 80px
    bottom: -2px;
    padding 15px 0
    background-color rgba(41, 47, 57, 0.85)
    backdrop-filter blur(2px)
    .trip-map--buttons
      margin-top 0 !important
  .trip-map--buttons .gogocar-yellow-button, .trip-map--buttons .gogocar-gray-button
    width 135px
    height 47px
  .trip-stops--item span
    font-size 12px
    width 72%
  .trip-stops--item .gogocar-gray-icons
    min-width 42px
  .popup-gogocar-cargo--checkbox
    min-width 20px
  .trip-stops--places--item span
    font-size 14px
  .trip-stops--places--buttons
    .gogocar-yellow-button
      width 100%
  .when-trip-date
    width 100%
  .when-trip-date--option
    width 100%
  .when-trip-date--option li
    width: 77px;
    padding: 12px 20px;
  .popup-covid--wrap
    .main-section--title
      font-size 20px !important
      span
        font-size 20px !important
    .icon
      margin-bottom 20px
  .popup-covid--buttons
    .gogocar-yellow-button,.gogocar-gray-button
      font-size 13px
  .trip-choise-car--count-field
    margin 0
  .trip-choise-car--count-field
    .gogocar-input-v1
      font-size 20px !important
      padding-right 59px
  .trip-select-car--wrapper
    padding 0
  .trip-select-car-name--number1,.trip-select-car-name--number2
    font-size 13px
  .trip-select--car--name1,.trip-select--car--name2
    font-size 13px
  .trip-choise-car
    padding-bottom 0
    .gogocar-yellow-button
      margin-bottom 60px
  .font-size-25
    font-size 24px !important
  .remove-price--content
     padding 0
     .gogocar-trip--item
       padding 0

  .gogocar-yellow-button
    height 47px
    font-size 13px
  .popup-trip-finish
    font-size 16px
    margin-bottom 30px
  .trip-comment--content
    padding 0
  .trip-comment--textarea
    padding 12px
    font-size 12px
  .notific-trip--list
    padding 0
  .you-trip--content
    padding 0
  .gogocar-you-trip--wrap
    padding 0
    .gogocar-gray-button,.gogocar-yellow-button
      width 140px
  .you-trip-driver-chat
    padding 0
  .chat-content--info__driver--review
    border-radius 0
  .you-trip-chat-content--slick
    overflow-y hidden
    min-height 100%
    max-height 100%
    margin-right 0
    border-radius 0
  .you-trip-driver-chat .chat-content--info__driver--review
    height 100%
    padding-bottom 15px
  .you-trip-chat-content--slick .chat-content--info__driver--review--content
    background-color #424B5B
    border-radius 10px
    padding 10px
    margin-right 10px
    min-width 240px
    max-width 100%
  #popup-trip-cancel .modal-dialog
    padding 0 20px
  .main-section--title--red
    font-size 20px
    span
      font-size 20px
  #popup-trip-cancel .main-section--title
    font-size 18px !important
    span
      font-size 18px !important
  .you-trip-cancel--buttons
    display flex
    flex-direction column
    .gogocar-gray-button
      margin-right 0
      margin-bottom 20px
  .gogocar-red-button
    height 47px
    font-size 13px
  .account-control--top__left
    padding 15px !important
    margin-bottom 0
  .account-control--top__right
    padding 15px !important
    padding-bottom 30px !important
  .actrl_m
    margin-right 50px
  .actrl_m:after
    width 50px
  .account-control--top--right--line__mobile_i:first-child .actrl_m:after
    left: -25px;
    width: 88px;
  .account-control--top--right--line__mobile_i:last-child .actrl_m:after
    right: 0px;
    width: 32px;
  .account-control--prefer--item
    size(60px)
    margin-bottom 0
  .account-control--bottom__panel--wrap:nth-child(2),.account-control--bottom__panel--wrap:nth-child(3),.account-control--bottom__panel--wrap:nth-child(5),.account-control--bottom__panel--wrap:nth-child(6)
    display none
  .account-control--panel__add--img span
    display none
  .account-control--panel__img--wrap
    size(50px)
  .account-control--panel__add--img .icon
    margin-bottom 0
  .account-control--panel--name
    font-size 18px
    margin-bottom 5px
  .account-control--top__right--title span
    font-size 14px
    font-family 'Oswald 400',sans-serif
  .account-control--prefer--choise
    font-size 13px
  .account-control--date-register--text
    font-size 12px
  .header-profile--menu__mobile
    display none
  .personal-content--prefes--item
    display flex
    flex-direction column
    align-items center
    width 48%
  .personal-content--header
    display none
  .breadcrumbs
    border-bottom 1px solid rgba(153, 163, 181, 0.3)
    padding-bottom 20px
    margin-bottom 30px
  .personal-color-car--item
    size(34px)
    margin-bottom: 17px;
    margin-right: 17px;
  .personal-add--car--mark--name
    font-size 13px
  .personal-add--car--mark--item
    padding-left 0
  .personal-car-mark--title
    padding-left 0
  .personal-add--car--item:first-child
    padding-top 0
  .personal-add--car--item
    padding-top 20px
  .gogocar-mobile-m-0-auto
    margin 0 auto !important
  .personal-review--wrap--content
    border-radius 0
  .personal-review--wrap--content--wrap
    margin 0 -15px
  .personal-review--circule, .personal-review--rating-score
    margin 0
    margin-bottom 20px
  .personal-review--rating-line-center
    max-width 62%
  .personal-review--rating-score
    margin-bottom 50px

  .personal-content--header--mobile
    display flex
  .personal-reviews--list
    padding 0
  .personal-pay--filter--wrap
    margin 0 -15px
    margin-bottom 20px
    border-radius 0
  .personal-pay--data--mobile
    margin 0 -15px
  .personal-content--body-order
    display flex
    flex-direction column
  .personal-pay--header__mobile
     .gogocar-yellow-button,.gogocar-gray-button
       height 36px
     .personal-pay--header--item__name
       padding-left 15px
  .all-trip--popup__time--mobile
    display flex
    flex-direction column
  .personal-notific--checkbox--item--check:before
    left 3px
  .personal-notific--checkbox--item--check.checked:before
    transform translateX(14px)
  .personal-fixed-chat--wrap .personal-people--list
    padding-right 0
  .personal-fixed-chat-p .container
    padding 0
  .personal-fixed-chat--bread
    display none
  .personal-fixed-chat-p
    padding-bottom 0
  .chat-container-main--info
    padding-bottom 70px
  .chat-show-message-out--mobile,.chat-show-message-in--mobile
    position fixed
    right 0
    left 0
    bottom 0
    top 0
    height 100%
    width 100%
    background rgba(41, 47, 57, 0.5)
    border-radius 0
  .chat-container-option--message--wrap
    position absolute
    bottom 0
    left 0
    right 0
    .chat-container-option--message--wrap--buttons
      display flex
      flex-direction column
      justify-content center
      align-items center
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      border-radius 10px
      margin 15px
      .chat-container-option--message--item
        padding 18px
        margin-bottom 0
        width 100%
        justify-content center
        background: #424B5B;
        span
          font-size 14px
        .icon
          size(19px)

      .chat-change-message
        border-bottom 1px solid rgba(255, 255, 255, 0.05)
        border-radius 10px 10px 0 0
        &:hover
          background #3d434e;
      .chat-delete-message
        border-radius 0 0 10px 10px
        &:hover
          background #3d434e;
    .chat-container-option--message--item--cancel,.chat-answer-message,.chat-choise-delet-msg
      display flex
      justify-content center
      align-items center
      background: #424B5B;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      border-radius 10px
      margin 15px
      font-size 14px
      font-family 'Montserrat 500',sans-serif
      color #fff
      padding 15px
      cursor pointer
      transition all .2s ease
      &:hover
        background #3d434e;
  .chat-answer-message
    padding 18px !important
    span
      font-size 14px
  .chat-item--archive
    margin-bottom 0 !important
  //.personal-price--add
  //  .container
  //    padding 0
  .personal-pay--data--mobile
    margin-bottom 30px
  .personal-pay--header--item__name:first-child
    padding-left 15px !important
  .personal-count--balance--wrap
    margin 0 -15px
    width initial
    border-radius 0
    margin-bottom 15px
  .personal-support2
    .chat-container-footer
      bottom 0 !important
  .personal-password--list
    .gogocar-yellow-button
      margin 0 auto !important
  .other-page footer
    display none
  .index-page footer
    display none
  .personal-content--select .select-input
    font-size 13px
  .personal-delete-zone
    .gogocar-red-button
      margin 0 auto !important
  .personal-delete--title
    font-size 16px
  .modal-dialog
    margin 18px
  .trip-choise-car
    .trip-select-car--item
      padding-left 10px
  .main-section-search--peoples__count
    border-radius 15px
  .main-section-search--submit--found
    display flex
    color #fff
    font-family 'Oswald 400',sans-serif
    font-size 15px
    margin-left 10px
  .header-sandwich-menu
    display none
  .header-panel--fixed
    display flex
  .content
    padding-bottom 55px
  .chat-content--info--backside
    right 0
  //.perspective-chat
  //  position fixed
  //  left 0px
  //  right 0
  //  top 0
  //  bottom 0
  //  width 100%
  //  max-height calc(100vh - 65px)
  //  z-index 100
  .gogocar-go-back-chat--mobile
    transition .5s ease
  .gogocar-go-back-chat--mobile.active
    margin-right -30px

  .chat-container-footer
    background-color #363d4a
    padding-top 0
  .chat-delete-out-msg
    position: fixed;
    display none
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(41,47,57,0.5);
    border-radius: 0;
    z-index: 2;
  .chat-choise-delet-msg
    .icon
      size(19px)
      margin-right 15px
  .chat-text-delete__message
    absolute-center()
    font-family 'Oswald 500',sans-serif
    font-size 22px
    color #fff
    width max-content

  .you-trip-driver-chat .chat-content--warning
    margin 0 15px
  .popup-modal--wrap
    width auto
    max-width 100%
  #popup-trip-cancel .modal-dialog
    padding 0
  .popup-modal--money
    padding 0
  .popup-output--item--value
    display none
  .popup-output--item--value--icon
    display flex
  .personal-appear--file--wrap
    .personal-file-button--added
      max-width 100%
      .icon
        margin-bottom 0
  .personal-appear--file--wrap .personal-loaded--file
    width max-content

  .all-trip-filter-popup--wrap.filter-fixed
    .all-trip--popup--wrap
      overflow-y scroll
      height calc(100vh - 115px)
  .gogocar-trips-category--name__attr--list
    display none
  .you-trip-detail--copy,.you-trip-detail--cancel
    width 100%
  .change-trip-people-and-time .when-trip-date
    margin-bottom 0 !important
  .change-trip-go-back--buttons .gogocar-yellow-button, .change-trip-go-back--buttons .gogocar-gray-button
    font-size 12px
  .you-trip-detail--buttons2 .you-trip-detail--copy, .you-trip-detail--buttons2 .you-trip-detail--cancel
    font-size 12px
    min-width auto
  .you-trip-detail--cancel,.you-trip-detail--copy
    height 42px
  .you-trip-detail--wrap
    margin 0 -15px
    border-radius 0
    margin-bottom 20px !important
  .you-trip-detail--buttons2 .you-trip-detail--cancel
    margin-right 15px
  .you-trip-delete-and-change .gogocar-gray-icons
    margin-right 15px
  .w-370
    max-width 100%
  .popup-pay-card-front
    padding 25px 15px
  .modap-pay-card
    margin 0
    .popup-content
      border-radius 0
  .popup-pay-card-front label, .popup-pay-card-back label
    font-size 13px
  .popup-pay-card-front input, .popup-pay-card-back input
    font-size 13px
  .popup-pay-card-back--number span
    margin 0 10px
  .popup-pay-card-back
    top 125px
  .popup-pay-finish--text,.popup-pay-done--text
    width 90%
  .gogocar-pay-pay-trip
    margin 0 -15px
    padding 0
    .gogocar-pay-pay-top,.gogocar-pay-pay-bottom
      border-radius 0
    .gogocar-pay-pay-top
      padding 15px
    .gogocar-pay-pay-title
      font-size 17px
    .gogocar-pay-pay-price
      font-size 20px
    .fs-25
      font-size 18px
    .gogocar-pay-pay-desc
      font-size 14px
      span
        font-size 14px

