.personal-sidebar--content--wrap
    .personal-sidebar--content.gogocar-box
        .account-control--bottom__panel--header
            .account-control--title--wrap
                h3.account-control--title Информация профиля
        ul.personal-sidebar--list
            a.personal-sidebar--item(href="/") Персональные данные
            a.personal-sidebar--item(href="/") Фото профиля
            a.personal-sidebar--item(href="/") Мои предпочтенияния
            a.personal-sidebar--item(href="/") Надежность пользователя
            a.personal-sidebar--item(href="/") Мой автомобиль
            a.personal-sidebar--item(href="/") Почтовый адрес

    .personal-sidebar--content.gogocar-box
        .account-control--bottom__panel--header
            .account-control--title--wrap
                h3.account-control--title Отзывы
        ul.personal-sidebar--list
            a.personal-sidebar--item(href="/") Полученные отзывы
            a.personal-sidebar--item(href="/") Оставленные отзывы

    .personal-sidebar--content.gogocar-box
        .account-control--bottom__panel--header
            .account-control--title--wrap
                h3.account-control--title Учётная запись
        ul.personal-sidebar--list
            a.personal-sidebar--item(href="") Оплата
            a.personal-sidebar--item(href="") Оповещения
            a.personal-sidebar--item(href="") Сообщения
            a.personal-sidebar--item(href="") Счет аккаунта
            a.personal-sidebar--item(href="") Поддержка
            a.personal-sidebar--item(href="") Пароль
            a.personal-sidebar--item(href="") Закрыть аккаунт


