section.blog-page.pt-0
    .container
        .blog-info--wrap
            .col-xl-9.col-lg-9.col-md-12.col-sm-12.blog-info-content--col.pl-0
                h3.blog-main--title.fs-25 25 миллионов пользователей в Узбекистан!
                .blog-info-article--date
                    .blog-info-date--icon
                        +icon('calendar-r')
                    .blog-info-date 11 Мая, 2020
                .blog-info-content--main
                    p Enim velit tellus lorem neque vestibulum. Adipiscing non mauris, viverra orci et sed amet risus. Eu enim varius nisi laoreet. Sed leo amet feugiat et. Dui amet mauris augue ultricies arcu. Varius risus id sed dictum scelerisque. Pellentesque id vel platea at mattis. Adipiscing amet aliquam scelerisque sed blandit lorem varius magna. Sed mauris aenean vitae orci ac faucibus. Orci, aliquet magna ullamcorper diam. Senectus neque lorem vitae arcu. Sed urna, ut facilisi vel morbi odio leo. Ut faucibus porttitor etiam enim.
                        br
                        br
                        | Sit viverra tempus mi nisi viverra iaculis. Pellentesque adipiscing ac nisi, neque, quis volutpat odio. Nisi eget dui odio auctor auctor non. Dui fames hendrerit mauris morbi. Purus mattis suspendisse sollicitudin aliquam.
                    img(src="static/img/content/blog/long.png")
                    h5 Tortor cursus massa feugiat ullamcorper.
                    p Volutpat platea iaculis parturient egestas. Cursus sit nunc ornare lectus risus neque. Ut mi pulvinar tellus bibendum feugiat. Nisl sed eget pellentesque ut rhoncus euismod. Quisque maecenas accumsan, elementum, velit. Ut arcu, sapien, mauris id. Et tristique lacinia rutrum erat vitae amet. Lacus mauris, cursus tristique dictumst eget ipsum justo, eu rutrum. Lacus suspendisse cursus sed in praesent. Massa nunc sit nibh magnis ut. Odio vitae interdum integer diam volutpat. Volutpat donec dui gravida neque suspendisse adipiscing adipiscing et, aliquet. At mauris enim sed est tortor tortor orci, leo, vitae. Imperdiet tortor, mattis tortor feugiat. Diam leo felis erat ut mattis ac lectus pharetra vitae. Diam, mus sem dictum sit sit in vulputate sit volutpat. Non consectetur vitae sit nam sit mollis amet. Proin vitae odio ultricies iaculis elit proin non vestibulum. Magna pretium tristique venenatis pharetra.
                        br
                        br
                        | Duis posuere pharetra feugiat id pellentesque venenatis. Nibh et diam nisi id ut ultricies tellus. Sed tristique magnis nibh scelerisque neque, pretium massa feugiat amet. In vestibulum proin vitae facilisi platea amet lectus molestie. Vitae nunc parturient consectetur tincidunt porta volutpat ornare turpis. Dignissim quis neque, blandit porta vitae sagittis pellentesque enim. Facilisis vitae et, et rhoncus. Quisque non eu cursus lorem venenatis urna, et massa a. Nunc nisl sodales lectus nisi, urna blandit. Nunc malesuada ullamcorper cras morbi. Diam amet interdum volutpat, pharetra sit pulvinar lorem. Est turpis ullamcorper ut sed aliquet elementum risus. Iaculis egestas quam mi iaculis vitae duis quisque. Facilisi nulla in vulputate iaculis non pulvinar quis id. Arcu, quis habitant condimentum tempor iaculis dignissim sagittis pellentesque. Tincidunt nulla feugiat lobortis sit neque aliquet. Aliquam tortor sed ut arcu amet.

                    .blog-sub--img__wrap
                        img.blog-sub--img(src="static/img/content/blog/blog2.png")
                        img.blog-sub--img(src="static/img/content/blog/blog3.png")
                    .blog-comments--wrap
                        .blog-comments--title Ваш комментарий:
                        form.blog-comments--form
                            .blog-comments--top
                                a.blog-comments--link__profile(href="/")
                                    img(src="static/img/content/drivers-avatar/driver1.png")
                                .blog-comments--name Лев Лукин
                            textarea.blog-comments--textarea(cols="4" rows="4" placeholder="Комментарий...")
                            button.gogocar-yellow-button.w-170.m-0(type="submit") Оставить
                        .blog-comments--list
                            .blog-comments--title Комментарии:
                            .blog-comment--item
                                .blog-comment--item__top
                                    a.blog-comment--img(href="/" style="background-image:url('static/img/content/drivers-avatar/driver1.png')")
                                    .blog-comment--item__right
                                        .blog-comment--item__name Лев Лукин
                                        .blog-comment--item__date 11 Июня, 2020 | 12:42
                                .blog-comment-item__bottom
                                    p Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.
                                    .blog-comment-item-depth--wrap
                                        .blog-comment-item-depth--count
                                            span Комментарии (2)
                                            +icon('arrow-down')
                                        .blog-comment-item-depth2--item
                                            textarea.blog-comments--textarea(cols="4" rows="3" placeholder="Ваш комментарий...")
                                            .blog-comment--item
                                                .blog-comment--item__top
                                                    a.blog-comment--img(href="/" style="background-image:url('static/img/content/drivers-avatar/driver1.png')")
                                                    .blog-comment--item__right
                                                        .blog-comment--item__name Виталий Степанов
                                                        .blog-comment--item__date 11 Июня, 2020 | 12:42
                                                .blog-comment-item__bottom
                                                    p Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis
                                            .blog-comment--item
                                                .blog-comment--item__top
                                                    a.blog-comment--img(href="/" style="background-image:url('static/img/content/drivers-avatar/driver1.png')")
                                                    .blog-comment--item__right
                                                        .blog-comment--item__name Виталий Степанов
                                                        .blog-comment--item__date 11 Июня, 2020 | 12:42
                                                .blog-comment-item__bottom
                                                    p Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis
                            .blog-comment--item
                                .blog-comment--item__top
                                    a.blog-comment--img(href="/" style="background-image:url('static/img/content/drivers-avatar/driver1.png')")
                                    .blog-comment--item__right
                                        .blog-comment--item__name Лев Лукин
                                        .blog-comment--item__date 11 Июня, 2020 | 12:42
                                .blog-comment-item__bottom
                                    p Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.
                                    .blog-comment-item-depth--wrap
                                        .blog-comment-item-depth--count
                                            span Комментарии (2)
                                            +icon('arrow-down')
                                        .blog-comment-item-depth2--item
                                            textarea.blog-comments--textarea(cols="4" rows="3" placeholder="Ваш комментарий...")
                                            .blog-comment--item
                                                .blog-comment--item__top
                                                    a.blog-comment--img(href="/" style="background-image:url('static/img/content/drivers-avatar/driver1.png')")
                                                    .blog-comment--item__right
                                                        .blog-comment--item__name Виталий Степанов
                                                        .blog-comment--item__date 11 Июня, 2020 | 12:42
                                                .blog-comment-item__bottom
                                                    p Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis
                                            .blog-comment--item
                                                .blog-comment--item__top
                                                    a.blog-comment--img(href="/" style="background-image:url('static/img/content/drivers-avatar/driver1.png')")
                                                    .blog-comment--item__right
                                                        .blog-comment--item__name Виталий Степанов
                                                        .blog-comment--item__date 11 Июня, 2020 | 12:42
                                                .blog-comment-item__bottom
                                                    p Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis
            .col-xl-3.col-lg-3.col-md-12.col-sm-12.blog-info-sidebar--col.pr-0
                .blog-info-sidebar--sticky
                    .blog-info-sidebar--sticky--wrap
                        .blog-info-sidebar--title Похожие новости
                        .blog-info-sidebar--list
                            a.blog-info-sidebar--item(href="/")
                                img(src="static/img/content/blog/blog4.png")
                                .blog-info-sidebar--item__name 25 миллионов пользователей в России!
                            a.blog-info-sidebar--item(href="/")
                                img(src="static/img/content/blog/blog2.png")
                                .blog-info-sidebar--item__name 25 миллионов пользователей в России!
                            a.blog-info-sidebar--item(href="/")
                                img(src="static/img/content/blog/blog3.png")
                                .blog-info-sidebar--item__name 25 миллионов пользователей в России!
                    .gogocar-yellow-button Все новости
