section.type-trip
    .container
        .type-trip--wrap
            h1.main-section--title.text-center.mb-5 Какой вид #[span пездки Вам предстоит ?]
            .col-xl-9.col-lg-9.type-trip--list
                .col-xl-6
                    .type-trip--item.gogocar-box
                        +icon('svg2')
                        .plan-trip--title Пассажирская перевозка
                        .section-desc Планируете поездку в другой город на легковом авто? Возьмите с собой попутчиков, сделайте дорогу дешевле и веселей!
                        a.gogocar-yellow-button(href="/") Выбрать
                .col-xl-6
                    .type-trip--item.gogocar-box
                        +icon('cargo')
                        .plan-trip--title Грузовая перевозка
                        .section-desc Планируете поездку в другой город на грузовом авто? Возьмите с собой дополнительный груз и попутчиков, сделайте дорогу дешевле!
                        a.gogocar-yellow-button(href="/") Выбрать
