section.remove-price
    .container
        .remove-price--wrap
            h1.main-section--title--v2.text-center.mb-5 Изменить #[span рекомендуемую цену] за место
            .col-xl-8.col-lg-8.remove-price--content
                .gogocar-input--wrapper
                    .remove-price--content__icon__route
                        .gogocar-gray-icons
                            +icon('map2')
                        .remove-price--route
                            span.remove-route--start Ташкент
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            span.remove-route--end Андижан
                    .remove-change--price
                        .remove-change--price--minus
                            +icon('minus')
                        .remove-change--price-text(data-change-price="5000" data-change-currency="UZS") 0 UZS
                        .remove-change--price--plus
                            +icon('add')
                .gogocar-trip--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                    .gogocar-trip--item__bottom
                        .remove-change--price
                            .remove-change--price--minus
                                +icon('minus')
                            .remove-change--price-text(data-change-price="5000" data-change-currency="UZS") 0 UZS
                            .remove-change--price--plus
                                +icon('add')

            .col-xl-8.col-lg-8.remove-price--content
                .gogocar-input--wrapper
                    .remove-price--content__icon__route
                        .gogocar-gray-icons
                            +icon('map2')
                        .remove-price--route
                            span.remove-route--start Ташкент
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            span.remove-route--end Узумчилик
                    .remove-change--price
                        .remove-change--price--minus
                            +icon('minus')
                        .remove-change--price-text(data-change-price="5000" data-change-currency="UZS") 0 UZS
                        .remove-change--price--plus
                            +icon('add')

                .gogocar-trip--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                    .gogocar-trip--item__bottom
                        .remove-change--price
                            .remove-change--price--minus
                                +icon('minus')
                            .remove-change--price-text(data-change-price="5000" data-change-currency="UZS") 0 UZS
                            .remove-change--price--plus
                                +icon('add')
            .col-xl-8.col-lg-8.remove-price--content
                .gogocar-input--wrapper
                    .remove-price--content__icon__route
                        .gogocar-gray-icons
                            +icon('map2')
                        .remove-price--route
                            span.remove-route--start Ташкент
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            span.remove-route--end Пунган
                    .remove-change--price
                        .remove-change--price--minus
                            +icon('minus')
                        .remove-change--price-text(data-change-price="5000" data-change-currency="UZS") 0 UZS
                        .remove-change--price--plus
                            +icon('add')

                .gogocar-trip--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                    .gogocar-trip--item__bottom
                        .remove-change--price
                            .remove-change--price--minus
                                +icon('minus')
                            .remove-change--price-text(data-change-price="5000" data-change-currency="UZS") 0 UZS
                            .remove-change--price--plus
                                +icon('add')
        .trip-stops--places--buttons.mt-5
            .gogocar-gray-button.m-0-auto-none.mr-4 Назад
            .gogocar-yellow-button.m-0-auto-none Продолжить