section.trips-category
    .container
        .trips-category--wrapper
            .col-xl-7.trips-category--buttons
                .gogocar-gray-button.w-170 Все
                .gogocar-gray-button.w-170 Экспресс
                .gogocar-gray-button.w-170 Малогабарит
            .trips-catelory--list.row
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.green-rating
                                            +icon('green-star')
                                            span 4,3
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 90 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.yellow-rating
                                            +icon('yellow-star')
                                            span 3,7
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 85 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.green-rating
                                            +icon('green-star')
                                            span 4,3
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 90 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.yellow-rating
                                            +icon('yellow-star')
                                            span 3,7
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 85 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.green-rating
                                            +icon('green-star')
                                            span 4,3
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 90 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.yellow-rating
                                            +icon('yellow-star')
                                            span 3,7
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 85 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.green-rating
                                            +icon('green-star')
                                            span 4,3
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 90 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.yellow-rating
                                            +icon('yellow-star')
                                            span 3,7
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 85 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.green-rating
                                            +icon('green-star')
                                            span 4,3
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 90 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                .col-xl-6.col-lg-6.col-md-12.col-sm-12.gogocar-trip--item.gogocar-trip-pagination--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                .gogocar-trip--item__town--when
                                    +icon('calendar3')
                                    .gogocar-trip--item__town--when__date 5 Июля
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-drivers--profile--wrap
                            .gogocar-drivers--profile(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                            .gogocar-trips-category--name__rating
                                .gogocar-trips-category--name__rating--attr--wrap
                                    .gogocar-trips-category--name__rating--wrap
                                        span.gogocar-trips-category--name Матвей
                                        .gogocar-trips-category--rating.yellow-rating
                                            +icon('yellow-star')
                                            span 3,7
                                    .gogocar-trips-category--name__attr--list
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('music')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--red
                                            +icon('dogs')
                                        .gogocar-trips-category--name__attr--item.gogocar-attr--green
                                            +icon('talk')
                                .gogocar-trips-category--price 85 000 UZS
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
            .gogocar-panination
            .gogocar-trip--bottom-flex
                .gogocar-yellow-button.w-270 Показать еще
                .gogocar-gray-button.gogocar-gray-button-hover.w-270 Уведомить о новых поездках
