section.trip
    .container
        .trip--wrap
            h1.section-title.mb-5.font-size-35 Поездки
            .col-xl-10.gogocar-input--wrapper.gogocar-trip-filter.gogocar-trip-filter-h
                .gogocar-gray-icons.size-icon--42
                    +icon('map2')
                .gogocar-trip-filter--info
                    .gogocar-trip-filter--item
                        .gogocar-trip-filter--item__info Откуда: #[span Ташкент]
                    .gogocar-trip-filter--item
                        .gogocar-trip-filter--item__info Куда: #[span Андижан]
                    .gogocar-trip-filter--item
                        .gogocar-trip-filter--item__info Когда: #[span Завтра]
                    .gogocar-trip-filter--item
                        .gogocar-trip-filter--item__info Свободное место: #[span 3 000 кг., 12 м3]

