.add-photo--content
  .continue-without-photo
    max-width 550px
    font-family 'Montserrat 400',sans-serif
.add-photo--info
  size(170px)
  position relative
  margin-bottom 100px

  label
    font-family 'Oswald 500',sans-serif
    font-size 20px
    color #FDAB3E
    width 100%
    text-align center
    cursor pointer

.add-photo--icon
  display flex
  align-items flex-end
  justify-content center
  height 100%
  width 100%
  background-color #77849C
  border-radius 35px
  position relative
  margin-bottom 20px
  background-size cover
  background-repeat no-repeat
  background-position center


.add-photo--input
  absolute-center()
  size(100%)
  opacity 0
  line-height 0
  cursor pointer

.add-photo--info--buttons
  display flex
  align-items center
  justify-content center