
.notific-input-icon
  position relative
  width 230px
.notific-calendar-icon
  absolute-center()
  display flex
  align-items center
  justify-content center
  right -20px
  width 42px
  height 100%
  left auto

  .icon
    size(24px)

.notific-trip-date-price
  display flex
  .gogocar-input--filter
    background-color transparent
    border 1px solid rgba(255, 255, 255, 0.1)
  .all-trip--popup__col
    margin-right 30px
.notific-trip--item .gogocar-trip--item__bottom
  display flex
  justify-content space-between

.notific-range-price--text
  display flex
  align-items center
  justify-content space-between

.notific-range-price
  width 240px

.noti-price-label label
  margin-bottom 12px

.filter-slider
  background-color #424B5B
  border-radius 4px
  height 8px
  border none !important
  margin-bottom 10px
  .ui-slider-range
    background-color #FDAB3E
    border-radius 4px
  .ui-slider-handle
    background-color #FDAB3E
    border-radius 50%
    size(12px)
    box-shadow 0px 0px 0px 3px #E39124
    border none
    outline none
    cursor pointer
    top -2px

.min-values,.max-values
  font-family 'Montserrat 500',sans-serif
  font-size 14px
  color #fff

.notific-icons
  display flex
  align-items center

  .gogocar-yellow-icons
    size(42px)
    position relative
    left auto
    margin-right 30px
  .icon
    size(22px)
.gogocar-red-icons
  display flex
  justify-content center
  align-items center
  background: #FF4B55;
  border-radius: 10px;
  size(42px)
  cursor pointer
  transition all linear .2s
  &:hover
    box-shadow: 0px 0px 20px rgba(255, 75, 85, 0.4);
  .icon
    size(22px)
