.remove-price--content
  margin 0 auto
  margin-bottom 30px
  .gogocar-input--wrapper
    padding 10px

  .gogocar-gray-icons
    position relative
    size(42px)
    left auto
    margin-right 15px
    .icon
      size(22px)
  .gogocar-trip--item__route
    width 100%
    max-width 50%
    margin-bottom 0

.remove-price--route
  display flex
  align-items center
  width 50%
  margin-right 40px
  user-select none
.remove-route--start
  margin-right 10px
  color #fff
  font-family 'Montserrat 500',sans-serif
  font-size 14px

.remove-route--end
  margin-left 10px
  color #fff
  font-family 'Montserrat 500',sans-serif
  font-size 14px

.remove-change--price--plus,.remove-change--price--minus
  display flex
  align-items center
  justify-content center
  cursor pointer
  size(42px)
  .icon
    size(22px)
    fill #FDAB3E

.remove-change--price
  display flex
  align-items center
  justify-content space-between
  width 35%

.remove-change--price-text
  font-family 'Montserrat SB',sans-serif
  font-size 14px
  color #fff
  user-select none
  outline none

