.trip-comment--content
  display flex
  flex-direction column
  margin 0 auto
  position relative
  margin-bottom 60px

  label
    font-family 'Oswald 500',sans-serif
    font-size 16px
    color #fff
  &:before
    content ''
    position absolute
    bottom: -16px;
    left: 40px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    size(20px)
    background-color #363D4A


.trip-comment--textarea
  background-color #363D4A
  border-radius 15px
  padding 22px
  border none
  font-family 'Montserrat 400',sans-serif
  font-size 14px
  color #fff
  outline none

  &::placeholder
    color rgba(255, 255, 255, 0.5)

