.trip-select-car
  position: relative;
  display flex
  justify-content space-between
  align-items center
  background-color #363D4A
  border-radius 15px
  padding 10px
  height 62px
  cursor pointer
  margin-bottom 15px

  .gogocar-gray-icons
    position relative
    left auto
    size(42px)
    margin-right 15px
    .icon
      size(22px)
.trip-select--icon--car
  display flex
  align-items center
.trip-select-car--list
  display none
.trip-select--car--name
  display flex
  align-items center
.trip-select--car--name1
  display flex
  align-items center
  font-family "Montserrat 400",sans-serif
  font-size 14px
  color #FDAB3E
  margin-right 3px
.trip-select--car--name2
  display flex
  align-items center
  font-family "Montserrat 400",sans-serif
  color #fff
  font-size 14px


.trip-select--arrow
  display flex
  justify-content center
  align-items center
  size(42px)


  .icon
    size(16px)
    transform rotate(90deg)

.trip-select-car--item
  padding 15px 10px
  border-radius 15px

  .gogocar-gray-icons
    size(42px)

    .icon
      size(22px)
  &:before,&:after
    display none

.trip-select-car-name--number
  display flex
  align-items center


.trip-select-car-name--number1
  font-family "Montserrat 400",sans-serif
  font-size 14px
  color #FDAB3E

.trip-select-car-name--number2
  font-family "Montserrat 400",sans-serif
  font-size 14px
  color #fff
.trip-choise-car--count
  display flex
  align-items center
  width max-content
  margin 0 auto
.trip-choise-car--count--input
  padding-left 0
  width 230px
  font-size 22px
  text-align center
  user-select none

.trip-choise-car--count--minus,.trip-choise-car--count--plus
  display flex
  align-items center
  justify-content center
  cursor pointer
  size(42px)
  .icon
    size(16px)
.trip-choise-car--count-field
  margin 0 40px
  margin-bottom 0
  user-select none
  .gogocar-gray-icons
    size(40px)
    .icon
      size(22px)

.trip-choise-car
  .gogocar-yellow-button
    max-width 230px

.trip-choise-car-cargo
  display flex
  align-items center
  margin 0 -15px
.trip-choise-car-type
  .gogocar-input-hidden-cargo-find
    padding-left 15px