.type-trip--list
  display flex
  margin 0 auto

.type-trip--item
  padding 30px 30px

  .icon
    width 100%
    margin-bottom 70px

  .plan-trip--title
    font-size 26px
    margin-bottom 20px
  .section-desc
    font-size 14px
    font-family 'Montserrat 400',sans-serif
    color rgba(255, 255, 255, 0.4)
    margin-bottom 50px


