.trip-show-calendar
  .datepicker-container
    width 300px
    margin 0 auto

.w-230
  width 230px

.when-trip-date
  .onCF li ul
    display flex
  .gogocar-gray-icons
    position relative
    left auto
    size(42px)
    .icon
      size(22px)

.when-trip-date--wrapper
  padding 10px
  height 60px
  display flex
  justify-content space-between
  align-items center
  cursor pointer
  margin-bottom 0

  .gogocar-gray-icons
    min-width 42px
  .titleCF
    font-family 'Oswald 500',sans-serif
    font-size 18px
    color #fff
    text-align center
  .append-icon
    position relative
    width 42px
.when-trip-date--option
  width 425px
  top 60px
  margin-left 0
  margin-right 0
  li
    width 85px
    border-radius 10px
    &:hover
      background-color #FDAB3E


