section.popular-trip-slider
    h3.section-title Популярные направления в Вашем регионе
    p.section-desc Находить поездки быстро и удобно!
    .popular-trip-slider-js
        .gogocar-trip--item
            .gogocar-trip--item__top
                .gogocar-trip--item-town__route
                    .gogocar-trip--item__town
                        span Ташкент
                        span Андижан
                    .gogocar-trip--item__route
                        .gogocar-trip--item__route--start
                        .gogocar-trip--item__route--end
                    .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
            .gogocar-trip--item__bottom
                .gogocar-trip--item__price от 90 000 UZS
                .gogocar-gray-icons2
                    +icon('arrow-right3')
        .gogocar-trip--item
            .gogocar-trip--item__top
                .gogocar-trip--item-town__route
                    .gogocar-trip--item__town
                        span Ташкент
                        span Андижан
                    .gogocar-trip--item__route
                        .gogocar-trip--item__route--start
                        .gogocar-trip--item__route--end
                    .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
            .gogocar-trip--item__bottom
                .gogocar-trip--item__price от 90 000 UZS
                .gogocar-gray-icons2
                    +icon('arrow-right3')
        .gogocar-trip--item
            .gogocar-trip--item__top
                .gogocar-trip--item-town__route
                    .gogocar-trip--item__town
                        span Ташкент
                        span Андижан
                    .gogocar-trip--item__route
                        .gogocar-trip--item__route--start
                        .gogocar-trip--item__route--end
                    .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
            .gogocar-trip--item__bottom
                .gogocar-trip--item__price от 90 000 UZS
                .gogocar-gray-icons2
                    +icon('arrow-right3')
        .gogocar-trip--item
            .gogocar-trip--item__top
                .gogocar-trip--item-town__route
                    .gogocar-trip--item__town
                        span Ташкент
                        span Андижан
                    .gogocar-trip--item__route
                        .gogocar-trip--item__route--start
                        .gogocar-trip--item__route--end
                    .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
            .gogocar-trip--item__bottom
                .gogocar-trip--item__price от 90 000 UZS
                .gogocar-gray-icons2
                    +icon('arrow-right3')
        .gogocar-trip--item
            .gogocar-trip--item__top
                .gogocar-trip--item-town__route
                    .gogocar-trip--item__town
                        span Ташкент
                        span Андижан
                    .gogocar-trip--item__route
                        .gogocar-trip--item__route--start
                        .gogocar-trip--item__route--end
                    .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
            .gogocar-trip--item__bottom
                .gogocar-trip--item__price от 90 000 UZS
                .gogocar-gray-icons2
                    +icon('arrow-right3')
        .gogocar-trip--item
            .gogocar-trip--item__top
                .gogocar-trip--item-town__route
                    .gogocar-trip--item__town
                        span Ташкент
                        span Андижан
                    .gogocar-trip--item__route
                        .gogocar-trip--item__route--start
                        .gogocar-trip--item__route--end
                    .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
            .gogocar-trip--item__bottom
                .gogocar-trip--item__price от 90 000 UZS
                .gogocar-gray-icons2
                    +icon('arrow-right3')
    .popular-dots--wrap
    .gogocar-yellow-button Найти поездку
