section.add-photo
    .container
        .add-photo--wrap
            h1.col-xl-8.col-lg-8.main-section--title.text-center.m-0-auto.mb-5 Добавьте #[span в профиль свое] фото. #[span Пассажиры захотят узнать, как вы выглядите.]
            .add-photo--content
                .add-photo--info.m-0-auto
                    .add-photo--icon(style="background-image:url('static/img/general/photo.png')")
                    input#add-photo.add-photo--input(type="file")
                    label(for="add-photo") Выбрать фото
                .add-photo--info--buttons
                    .gogocar-gray-button.continue-without-photo Нет, спасибо, я продолжу без фото

