section.list-paeg
    .container
        .d-flex.justify-content-between
            ul
                .section-title.text-left Публичные страницы
                li
                    a(href="/") Главная страница
                li
                    a(href="/find-trip.html") Найти поездку
                li
                    a(href="/trip.html") Пассажирские поездки
                li
                    a(href="/cargo-trip.html") Грузовые поездки
                li
                    a(href="/plan-trip.html") Пассажирская поездка (Открытая)
                li
                    a(href="/plan-trip-cargo.html") Грузовая поездка (Открытая)
                li
                    a(href="/car-place.html") Бронирование места
                li
                    a(href="/car-to-book.html") Бронирование
                li
                    a(href="/car-to-book-cargo.html") Бронирование Грузовое
                li
                    a(href="/type-trip.html") Вид поездки
                li
                    a(href="/suggest-late.html") Предложить поездку (Откуда)
                li
                    a(href="/suggest-late-to.html") Предложить поездку (Куда)
                li
                    a(href="/suggest-late-from-cargo.html") Предложить грузовую поездку (Откуда)
                li
                    a(href="/suggest-late-to-cargo.html") Предложить грузовую поездку (Куда)

                li
                    a(href="/trip-map-deploy.html") Предложить поездку (Высадка пассажира)
                li
                    a(href="/trip-map-deploy-cargo.html") Предложить поездку (Выгрузка)
                li
                    a(href="/trip-stops.html") Предложить поездку (Добавить остановки)
                li
                    a(href="/trip-stops-cargo.html") Предложить поездку (Добавить место выгрузки)
                li
                    a(href="/trip-stops-places.html") Предложить поездку (Остановки)
                li
                    a(href="/trip-stops-places-cargo.html") Предложить поездку (место выгрузки)
                li
                    a(href="/when-trip.html") Предложить поездку (Когда состоится поездка ?)
                li
                    a(href="/when-trip-cargo.html") Предложить поездку (Когда заберете груз?)
                li
                    a(href="/trip-choise-car.html") Предложить поездку (сколько попутчиков?)
                li
                    a(href="/trip-choise-car-cargo.html") Предложить поездку (Сколько груза?)
                li
                    a(href="/remove-price.html") Предложить поездку (Изменить цену)
                li
                    a(href="/remove-price-cargo.html") Предложить Груз поездку (Изменить цену)
                li
                    a(href="/add-photo.html") Предложить поездку (Изменить цену)
                li
                    a(href="/trip-comment.html") Предложить поездку (Комментарий)
                li
                    a(href="/you-trip.html") Уведомления
                li
                    a(href="/you-trip-com-detail.html") Ваши поездки (Попутчик, детально)
                li
                    a(href="/you-trip-dri-detail.html") Ваши поездки (Водитель, детально)

            ul
                .section-title.text-left Личный кабинет
                li
                    a(href="/acc-control.html") Управление аккаунтом

                li
                    a(href="/personal-settings.html") Мои персональные данные
                li
                    a(href="/personal-photo.html") Фото профиля
                li
                    a(href="/personal-prefes.html") Мои предпочтенияния
                li
                    a(href="/personal-save.html") Надежность пользователя
                li
                    a(href="/personal-car.html") Мой автомобиль
                li
                    a(href="/personal-add-car.html") Мой автомобиль (Добавить, легковое)
                li
                    a(href="/personal-add-car-cargo.html") Мой автомобиль (Добавить, грузовой)
                li
                    a(href="/personal-mail.html") Почтовый адрес
                li
                    a(href="/personal-review.html") Полученные отзывы
                li
                    a(href="/personal-all-review.html") Оставленные отзывы
                li
                    a(href="/personal-pay.html") Оплата
                li
                    a(href="/personal-notific.html") Оповещения

                li
                    a(href="/personal-message.html") Сообщения
                li
                    a(href="/personal-count.html") Счет аккаунта
                li
                    a(href="/personal-support.html") Поддержка
                li
                    a(href="/personal-support2.html") Поддержка (Чат)

                li
                    a(href="/personal-password.html") Пароль
                li
                    a(href="/personal-delete.html") Закрыть аккаунт
                li
                    a(href="/personal-referal.html") Реферальная программа


