section.how-work
    .container
        .how-work--wrap
            h3.section-title Как это работает ?
            p.section-desc 3 простых слова, целый удобный сервис!
            .how-work--list.row
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.gogocar-how-work--item
                    .gogocar-how-work--item__wrap
                        .gogocar-how-work--top
                            .gogocar-gray-icons.how-work-item--icon
                                +icon('loupe')
                            .gogocar-how-work--number 01
                        .gogocar-how-work--bottom
                            span Просто
                            p Среди миллионов попутчиков вы легко найдете тех, кто рядом и кому с вами по пути.
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.gogocar-how-work--item
                    .gogocar-how-work--item__wrap
                        .gogocar-how-work--top
                            .gogocar-gray-icons.how-work-item--icon
                                +icon('location')
                            .gogocar-how-work--number 02
                        .gogocar-how-work--bottom
                            span Быстро
                            p Введите точный адрес, чтобы увидеть свою идеальную поездку. Выбирайте сами, с кем хотите отправиться в дорогу. И бронируйте!
                .col-xl-4.col-lg-4.col-md-6.col-sm-6.gogocar-how-work--item
                    .gogocar-how-work--item__wrap
                        .gogocar-how-work--top
                            .gogocar-gray-icons.how-work-item--icon
                                +icon('taxi')
                            .gogocar-how-work--number 03
                        .gogocar-how-work--bottom
                            span Без хлопот
                            p Добирайтесь до места назначения без пересадок. В поездках с попутчиками не надо беспокоиться об очередях и часах.
            .how-dots--wrap
            .gogocar-yellow-button Подробнее