section.why-choise
    .container
        .why-choise--wrap
            h3.section-title Почему люди выберают нас ?
            p.section-desc Это удобно, быстро и безопасно!
            .why-choise-list
                .why-choise-item
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.why-choise-item--baner
                        +icon('illu3')
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.why-choise-item--info
                        .why-choise-item--title 1) #[span Сообщество]
                        p.why-choise-item--desc Мы хотим узнать наших пользователей как можно лучше. Наша команда проверяет профили и отзывы. Когда в профиле подтверждено удостоверение личности, вы знаете наверняка, с кем садитесь в машину.
                .why-choise-item
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.why-choise-item--baner
                        +icon('illu4')
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.why-choise-item--info
                        .why-choise-item--title 2) #[span Рядом]
                        p.why-choise-item--desc Забудьте о том, что надо спешить на станцию через весь город. Ловите попутку прямо за углом. Semper nulla vitae nunc scelerisque nisl. Nullam pellentesque et, lacus, duis urna. Semper diam fringilla at lorem. Non eget. Nullam pellentesque et.
                .why-choise-item
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.why-choise-item--baner
                        +icon('illu5')
                    .col-xl-6.col-lg-6.col-md-6.col-sm-6.why-choise-item--info
                        .why-choise-item--title 3) #[span Скорость]
                        p.why-choise-item--desc 60 секунд. Именно столько в среднем требуется, чтобы найти попутчиков поблизости. Semper nulla vitae nunc scelerisque nisl. Nullam pellentesque et, lacus, duis urna. Semper diam fringilla at lorem. Non eget. Nullam pellentesque et.
            .why-dots--wrap