section.blog-main
    .container
        .blog-main--wrap
            .blog-main-list
                .blog-main--top
                    h3.blog-main--title Блог
                    ul.blog-main--tabs
                        a.blog-main--link(href="/") Новости
                        a.blog-main--link(href="/") Статьи
                        a.blog-main--link(href="/") Ответы
                .blog-main--bottom.row
                    a.col-xl-6.col-lg-8.col-md-12.col-sm-12.blog-main--item__wrap(href="/")
                        .blog-main--item
                            .blog-main--item__img(style="background-image: url('/static/img/content/blog/blog1.png')")
                            .blog-main--item__date 05.06.2020
                            .blog-main--item__date--after
                            .blog-main--item__content
                                h3.blog-main--item__title История Амбассадора GoGoCar — Дмитрия
                                p.blog-main--item__desc Мы поговорили с Дмитрием, чтобы рассказать вам его историю: как он использует платформу GoGoCar, каких интересных попутчиков он встречал во время совместных поездок, почему он состоит в ...
                    a.col-xl-3.col-lg-4.col-md-4.col-sm-6.blog-main--item__wrap(href="/")
                        .blog-main--item--v2
                            .blog-main--item__img--v2(style="background-image: url('static/img/content/blog/blog2.png')")
                            .blog-main--item__date 05.06.2020
                            .blog-main--item__date--after
                            h3.blog-main--item__title--v2 Купить билет на автобус онлайн? Очень удобно!
                    a.col-xl-3.col-lg-4.col-md-4.col-sm-6.blog-main--item__wrap(href="/")
                        .blog-main--item--v2
                            .blog-main--item__img--v2(style="background-image: url('static/img/content/blog/blog3.png')")
                            .blog-main--item__date 05.06.2020
                            .blog-main--item__date--after
                            h3.blog-main--item__title--v2 Купить билет на автобус онлайн? Очень удобно!
                    a.col-xl-3.col-lg-4.col-md-4.col-sm-6.blog-main--item__wrap(href="/")
                        .blog-main--item--v2
                            .blog-main--item__img--v2(style="background-image: url('static/img/content/blog/blog4.png')")
                            .blog-main--item__date 05.06.2020
                            .blog-main--item__date--after
                            h3.blog-main--item__title--v2 Купить билет на автобус онлайн? Очень удобно!
                    a.col-xl-6.col-lg-8.col-md-12.col-sm-12.blog-main--item__wrap(href="/")
                        .blog-main--item
                            .blog-main--item__img(style="background-image: url('/static/img/content/blog/blog5.png')")
                            .blog-main--item__date 05.06.2020
                            .blog-main--item__date--after
                            .blog-main--item__content
                                h3.blog-main--item__title История Амбассадора GoGoCar — Дмитрия
                                p.blog-main--item__desc Мы поговорили с Дмитрием, чтобы рассказать вам его историю: как он использует платформу GoGoCar, каких интересных попутчиков он встречал во время совместных поездок, почему он состоит в ...
                    .col-xl-3.col-lg-4.col-md-12.col-sm-12.blog-main--item__wrap.blog-read-all-articles(href="/")
                        .blog-main--item--v2.blog-main--item--show
                            +icon('megafon')
                            h3.gogocar-blog--title GoGoBlog
                            p.gogocar-blog--desc Больше новостей и статей в нашем блоге!
                            a.gogocar-yellow-button(href="") Читать
                .blog-main-dots--wrap
                .gogocar-yellow-button.go-read-all-articles Читать все статьи


