svg#main(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 519.694 278.5172')
    defs
        mask#mask(x='87.3426' y='65.1154' width='102.4454' height='99.5039' maskunits='userSpaceOnUse')
            g(transform='translate(-37.9446 -41.7022)')
                g#mask0
                    path(d='M126.8476,117.9114h93.22v71.1269h-93.22Z' style='fill: #c4c4c4')
        mask#mask-2(x='0.2234' y='138.4673' width='445.3378' height='111.1697' maskunits='userSpaceOnUse')
            g(transform='translate(-37.9446 -41.7022)')
                g#mask0-2(data-name='mask0')
                    path(d='M483.5059,291.3392V233.07a16.657,16.657,0,0,0-14.326-16.5319,170.4777,170.4777,0,0,0-26.048-1.7051s-55.327-34.0027-75.609-34.0027l-127.097-.6508a106.9,106.9,0,0,0-49.066,11.1778L134.7561,219.52,59.5013,235.994S43.9149,240.22,40.57,250.3512c-3.3364,10.1317-2.2243,21.268-2.2243,21.268h165.28s7.448-23.4178,31.289-23.4178c23.832,0,30.291,28.7388,28.8,43.1378h124.881s-.495-42.7013,31.782-41.21,29.797,41.21,29.797,41.21Z' style='fill: #fdab3e')
        mask#mask-3(x='377.9472' y='60.2378' width='10.8828' height='23.2854' maskunits='userSpaceOnUse')
            g(transform='translate(-37.9446 -41.7022)')
                g#mask0-3(data-name='mask0')
                    path(d='M416.2378,110.2793l-.1938,14.9461,10.7307-1.84-.7819-21.445Z' style='fill: #ebb28b')

    g#town
        g
            path(d='M476.4123,229.9492h38.1059v47.2331h-38.106Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M213.8435,205.4876h66.4278V269.47H213.8435Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M390.1244,213.55H428.23v47.233h-38.106Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,239.1092h38.1069v47.2329H318.0264Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M525.9758,257.8368a155.4568,155.4568,0,0,1-29.5187,44.4373,186.944,186.944,0,0,1-14.7683,14.1309c-.9123.7744-1.8337,1.5488-2.7821,2.2971l-60.5186-.2-13.82-.0435-58.0438-.1914-13.6573-.0435-63.1291-.2089-138.1271-.4524-4.4531-.0174s-.6322-.27-1.77-.8092c-1.5716-.74-4.11-1.9926-7.3254-3.75-3.7937-2.0883-8.5359-4.8813-13.7116-8.3967L95.7423,298.35v-.0087a146.9656,146.9656,0,0,1-12.42-10.7373l-3.866-3.9156a116.1652,116.1652,0,0,1-10.9656-13.3651,96.5937,96.5937,0,0,1-7.4519-12.4864Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M536.8059,210.6063a120.7543,120.7543,0,0,1-1.2917,14.0961,134.2574,134.2574,0,0,1-9.5384,33.1344H514.5224v-47.23Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M351.3807,173.0266c-3.1987-12.851,5.0229-25.7668,18.3634-28.8482s26.7481,4.8387,29.9468,17.69-5.0228,25.7667-18.3632,28.8481h-.0011c-13.3387,3.082-26.7455-4.8361-29.9448-17.6855v0Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M375.5475,162.0248a5.7487,5.7487,0,1,1,.0006,0Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            polygon(points='366.623 123.797 366.623 276.756 308.58 276.565 308.58 123.797 366.623 123.797' style='fill: #99a3b5')
            path(d='M385.1691,176.5533H396.71v21.8741h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M356.1337,176.5533h11.541v21.8741h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M385.1691,209.8956H396.71V231.77h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M356.1337,209.8956h11.541V231.77h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M385.1691,243.2448H396.71v21.8741h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M356.1337,243.2448h11.541v21.8741h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M385.1691,276.5873H396.71v21.8741h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M356.1337,276.5873h11.541v21.8741h-11.541Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M332.8671,129.8325v188.391l-63.1291-.2088V150.9505c2.1226-2.4538,4.1911-4.9771,6.2235-7.544v-.0609h.0451c2.4207-3.0628,4.7783-6.1779,7.0816-9.2929q1.5446-2.0883,3.2427-4.22Z' transform='translate(-37.9446 -41.7022)' style='fill: #99a3b5')
            path(d='M318.0264,143.3466h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,143.3466h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            rect(x='238.0168' y='101.6433' width='8.6081' height='8.2923' style='fill: #ccd1da')
            path(d='M318.0264,157.9891h8.61v8.293h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,157.9891h8.6091v8.293h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,157.9891h8.609v8.293h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,172.6325h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,172.6325h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,172.6325h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,187.2828h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,187.2828h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,187.2828h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,201.9253h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,201.9253h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,201.9253h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,216.5678h8.61v8.2931h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,216.5678h8.6091v8.2931h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,216.5678h8.609v8.2931h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,231.2109h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,231.2109h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,231.2109h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,245.8536h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,245.8536h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,245.8536h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,260.5039h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,260.5039h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,260.5039h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,275.1464h8.61V283.44h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,275.1464h8.6091V283.44h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,275.1464h8.609V283.44h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M318.0264,289.79h8.61v8.2923h-8.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M296.9984,289.79h8.6091v8.2923h-8.6091Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M275.9627,289.79h8.609v8.2923h-8.609Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M131.6109,182.3185V317.5622l-4.4531-.0174s-.6323-.27-1.77-.8092c-1.5717-.74-4.11-1.9926-7.3255-3.75-3.7937-2.0883-8.5358-4.8814-13.7115-8.3967L95.7423,298.35v-.0087a146.9525,146.9525,0,0,1-12.42-10.7374l-3.8659-3.9156a116.1489,116.1489,0,0,1-10.9657-13.3651V182.3185Z' transform='translate(-37.9446 -41.7022)' style='fill: #99a3b5')
            path(d='M116.7815,195.8257h8.6094v8.2923h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,195.8257h8.6093v8.2923H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M74.7167,195.8257h8.6094v8.2923H74.7167Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M116.7815,210.469h8.6094v8.2923h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,210.469h8.6093v8.2923H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M74.7167,210.469h8.6094v8.2923H74.7167Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M116.7815,225.1185h8.6094v8.2932h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,225.1185h8.6093v8.2932H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M74.7167,225.1185h8.6094v8.2932H74.7167Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M116.7815,239.7618h8.6094v8.2923h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,239.7618h8.6093v8.2923H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M74.7167,239.7618h8.6094v8.2923H74.7167Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M116.7815,254.4043h8.6094v8.2923h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,254.4043h8.6093v8.2923H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M74.7167,254.4043h8.6094v8.2923H74.7167Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M116.7815,269.0468h8.6094V277.34h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,269.0468h8.6093V277.34H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M74.7167,269.0468h8.6094V277.34H74.7167Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M116.7815,283.69h8.6094v8.2923h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M95.7454,283.69h8.6093v8.2923H95.7454Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            polygon(points='45.378 245.902 45.378 241.986 41.512 241.986 45.378 245.902' style='fill: #ccd1da')
            path(d='M116.7815,298.34h8.6094v8.2932h-8.6094Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            polygon(points='57.798 256.648 57.798 256.639 66.406 256.639 66.406 262.886 57.798 256.648' style='fill: #ccd1da')
            path(d='M125.3874,312.9854v3.75c-1.5717-.74-4.11-1.9926-7.3255-3.75Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M496.4571,129.8325V302.2741a186.928,186.928,0,0,1-14.7684,14.1309c-.9123.7744-1.8336,1.5488-2.782,2.2971l-60.5187-.2V129.8325Z' transform='translate(-37.9446 -41.7022)' style='fill: #99a3b5')
            path(d='M482.9894,160.3759h5.2688V258.64h-5.2688Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M468.889,160.3759h5.2687V258.64H468.889Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M454.7805,160.3759h5.2679V258.64h-5.2679Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M440.68,160.3759h5.2679V258.64H440.68Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M426.5783,160.3759h5.2687V258.64h-5.2687Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
            path(d='M418.3857,140.3437h78.0727V150.85H418.3857Z' transform='translate(-37.9446 -41.7022)' style='fill: #e9edfd')
        path(d='M536.8059,210.6063a120.7543,120.7543,0,0,1-1.2917,14.0961,134.2574,134.2574,0,0,1-9.5384,33.1344,155.4582,155.4582,0,0,1-29.5187,44.4373,186.9621,186.9621,0,0,1-14.7683,14.1309c-.9123.7744-1.8337,1.5488-2.7821,2.2971l-60.5186-.2-13.82-.0435-58.0438-.1915-13.6573-.0435-63.1291-.2088-138.1271-.4524-4.4531-.0174s-.6322-.27-1.77-.8092c-1.5716-.74-4.11-1.9926-7.3254-3.75-3.7937-2.0883-8.5359-4.8814-13.7116-8.3967-2.773-1.8708-5.6634-3.9591-8.6081-6.2388v-.0087a146.9668,146.9668,0,0,1-12.42-10.7374q-1.9511-1.8924-3.866-3.9155a116.1577,116.1577,0,0,1-10.9656-13.3652,96.5858,96.5858,0,0,1-7.4519-12.4863,82.4835,82.4835,0,0,1-8.8791-39.53c1.7884-66.3558,74.5553-97.21,123.9548-56.245,41.1888,34.1525,70.2649,15.95,93.6233-11.1115,2.1227-2.4537,4.1912-4.9771,6.2235-7.544a.2676.2676,0,0,1,.0452-.0609c2.4207-3.0628,4.7782-6.1779,7.0815-9.2929q1.5446-2.0883,3.2428-4.22c26.9714-33.8218,82.4589-73.2821,154.35-53.9043C512.201,95.21,538.5853,160.5219,536.8059,210.6063Z' transform='translate(-37.9446 -41.7022)' style='fill: #67758e;opacity: 0.20000000298023224;isolation: isolate')
        g(style='opacity: 0.20000000298023224')
            path(d='M548.9931,157.0076a3.853,3.853,0,1,0,0-.0494Z' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #a9b7f2;stroke-miterlimit: 10;stroke-width: 1.2771999835968018px')
            path(d='M73.6824,73.0639a3.8606,3.8606,0,1,0,0-.05C73.6821,73.0308,73.6822,73.0474,73.6824,73.0639Z' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #a9b7f2;stroke-miterlimit: 10;stroke-width: 1.2771999835968018px')
            path(d='M261.8917,113.8818a3.9956,3.9956,0,1,0,0-.0494Z' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #a9b7f2;stroke-miterlimit: 10;stroke-width: 1.2771999835968018px')
            path(d='M499.9784,60.3563H470.8463' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #a9b7f2;stroke-miterlimit: 10;stroke-width: 0.9984999895095825px')
            path(d='M69.3441,146.7652H44.0666' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #a9b7f2;stroke-miterlimit: 10;stroke-width: 0.9984999895095825px')
            path(d='M281.4021,42.2014H237.3879' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #a9b7f2;stroke-miterlimit: 10;stroke-width: 0.9984999895095825px')
    g#phone
        path(d='M207.4824,320.2194H128.31A18.4734,18.4734,0,0,1,110.01,301.5762V86.8988A18.4735,18.4735,0,0,1,128.31,68.2553h79.1728A18.4733,18.4733,0,0,1,225.781,86.8988V301.5762A18.4732,18.4732,0,0,1,207.4824,320.2194Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M213.09,320.2194H133.9173a18.4735,18.4735,0,0,1-18.2994-18.6432V86.8988a18.4736,18.4736,0,0,1,18.2994-18.6435H213.09a18.4734,18.4734,0,0,1,18.2987,18.6435V301.5762A18.4733,18.4733,0,0,1,213.09,320.2194Z' transform='translate(-37.9446 -41.7022)' style='fill: #5b677d')
        path(d='M213.5728,314.4732H134.18a12.7181,12.7181,0,0,1-12.6-12.828V87.9782a12.7181,12.7181,0,0,1,12.6-12.828h79.393a12.7178,12.7178,0,0,1,12.6,12.828V301.653A12.7111,12.7111,0,0,1,213.5728,314.4732Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M190.6607,83.0113H157.9492a2.9631,2.9631,0,0,1-2.934-2.9883V75.15h38.5795V80.023A2.9631,2.9631,0,0,1,190.6607,83.0113Z' transform='translate(-37.9446 -41.7022)' style='fill: #77849c')
        path(d='M183.0768,79.08H165.5331' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #312220;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.868399977684021px;opacity: 0.23000000417232513;isolation: isolate')
        g(style='mask: url(#mask)')
            g
                path(d='M126.8476,117.9114h93.22v71.1269h-93.22Z' transform='translate(-37.9446 -41.7022)' style='fill: #d8dffd')
                polyline(points='88.905 86.188 138.715 124.498 168.405 147.338' style='fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 5.125999927520752px')
                line(x1='188.2254' y1='162.5878' x2='187.8354' y2='162.2878' style='fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 5.125999927520752px')
                line(x1='121.7154' y1='147.3378' x2='88.9054' y2='122.0978' style='fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 5.125999927520752px')
                line(x1='188.2254' y1='126.7078' x2='187.8354' y2='126.4078' style='fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 5.125999927520752px')
                polyline(points='182.125 122.008 154.545 100.798 125.475 78.438 122.585 76.208 119.365 73.738 111.165 67.418 111.145 67.408' style='fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 5.125999927520752px')
                path(d='M208.9,117.91,192.49,142.5l-15.83,23.7-6.11,9.16a5.264,5.264,0,0,0,.88,6.84l7.78,6.84' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 5.125999927520752px')
        path(d='M141.9687,110.8813c0-9.0519,9.3793-15.8731,18.78-10.93a11.7714,11.7714,0,0,1,4.1105,4.0943,13.27,13.27,0,0,1,.4732,12.5345h.0141l-.0988.1871c-.0425.0863-.0918.1726-.1413.259l-10.7776,19.8595L143.53,116.9975c-.0354-.0648-.0706-.1367-.1059-.2015l-.0495-.0935h.007A12.6811,12.6811,0,0,1,141.9687,110.8813Z' transform='translate(-37.9446 -41.7022)' style='fill: #fdab3e')
        path(d='M152.2331,115.8962a5.6143,5.6143,0,0,1-2.9481-7.2918,5.4379,5.4379,0,0,1,7.1573-3.0035,5.6142,5.6142,0,0,1,2.9479,7.2918A5.4377,5.4377,0,0,1,152.2331,115.8962Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
    g#car(data-aos="slide-left" data-aos-duration="2000" data-aos-delay="600")
        path(d='M285.0839,250.4511h14.928c14.655,0,26.535,15.37,26.535,34.3321s-11.88,34.332-26.535,34.332h-14.928c-14.655,0-26.534-15.37-26.534-34.332S270.4289,250.4511,285.0839,250.4511Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M98.9287,250.4511h14.9274c14.6555,0,26.5348,15.37,26.5348,34.3321s-11.8793,34.332-26.5348,34.332H98.9287c-14.6555,0-26.5348-15.37-26.5348-34.332S84.2732,250.4511,98.9287,250.4511Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M169.8339,242.1306H279.87v49.2086H169.8339Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M219.7069,319.0322c-14.313,0-25.917-15.017-25.917-33.541s11.604-33.542,25.917-33.542,25.917,15.017,25.917,33.542S234.0209,319.0322,219.7069,319.0322Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M234.2879,319.0322h-14.581l-14.903-14.901,14.903-52.1737h14.581Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M234.2879,319.0322c-14.313,0-25.916-15.017-25.916-33.541s11.603-33.542,25.916-33.542,25.917,15.017,25.917,33.542S248.6019,319.0322,234.2879,319.0322Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M234.2709,301.4552a16.998,16.998,0,1,1,17-16.998A16.9994,16.9994,0,0,1,234.2709,301.4552Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M228.1339,300.3142a16.998,16.998,0,1,0,0-31.714,16.1939,16.1939,0,0,1,2.137-.141,15.998,15.998,0,1,1,0,31.996A16.2052,16.2052,0,0,1,228.1339,300.3142Z' transform='translate(-37.9446 -41.7022)' style='fill: #b8b8c2;fill-rule: evenodd')
        path(d='M355.9889,242.1306h110.036v49.2086H355.9889Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M405.8709,319.0322c-14.314,0-25.917-15.017-25.917-33.541s11.603-33.542,25.917-33.542,25.917,15.017,25.917,33.542S420.1849,319.0322,405.8709,319.0322Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M420.4519,319.0322h-14.581l-14.911-14.901,14.911-52.1737h14.581Z' transform='translate(-37.9446 -41.7022)' style='fill: #272727')
        path(d='M420.4519,319.0322c-14.313,0-25.917-15.017-25.917-33.541s11.604-33.542,25.917-33.542,25.917,15.017,25.917,33.542S434.7659,319.0322,420.4519,319.0322Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M422.2709,301.4552a16.998,16.998,0,1,1,17-16.998A16.9994,16.9994,0,0,1,422.2709,301.4552Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M419.7709,301.2722a17.1775,17.1775,0,0,0,2.5.183,16.998,16.998,0,1,0,0-33.996,17.1778,17.1778,0,0,0-2.5.182,17,17,0,0,1,0,33.631Z' transform='translate(-37.9446 -41.7022)' style='fill: #b8b8c2;fill-rule: evenodd')
        path(d='M483.51,233.07v58.27H450.17a59,59,0,0,0-2.45-18.96c-.07-.25-.15-.5-.23-.75-3.36-10.22-10.8-20.75-27.11-21.5a28.3852,28.3852,0,0,0-11.95,1.83,1.877,1.877,0,0,0-.3.12,22.0113,22.0113,0,0,0-2.67,1.3c-17.19,9.78-16.86,37.96-16.86,37.96H263.71a53.5875,53.5875,0,0,0-2.59-21.3c-3.81-11.43-11.86-21.84-26.21-21.84a30.7916,30.7916,0,0,0-15.11,3.75c-.01,0-.01.01-.02.01-.03.02-.05.03-.08.05h-.01c-11.94,6.64-16.06,19.61-16.06,19.61H38.35a52.6534,52.6534,0,0,1-.17-5.66c.02-1.55.11-3.35.3-5.28a51.0238,51.0238,0,0,1,1.36-7.84c.21-.8.44-1.6.7-2.39.01-.03.02-.07.03-.1,3.34-10.13,18.93-14.36,18.93-14.36l75.26-16.47,39-19.4,17.6-8.76a106.8735,106.8735,0,0,1,49.07-11.18l127.09.65c4.19,0,9.88,1.45,16.27,3.76a226.6626,226.6626,0,0,1,23.37,10.3c18.75,9.36,35.97,19.94,35.97,19.94a170.1572,170.1572,0,0,1,26.05,1.71A16.6545,16.6545,0,0,1,483.51,233.07Z' transform='translate(-37.9446 -41.7022)' style='fill: #eaa947')
        g(style='mask: url(#mask-2)')
            path(d='M266.42,206.34l-28.64,15.17-38.92,20.62-18.83,9.97-1.69.9-8.51-.01-32.61-.04-13.43-.01-34.71-.04-17.96-.03-31.28-.03h-.27a12.8743,12.8743,0,0,1,.94-2.39h.03c.01-.03.02-.07.03-.1,3.34-10.13,18.93-14.36,18.93-14.36l75.26-16.47,39-19.4,2.86,3.54,6.64,8.18,1.36,1.67,3.1-.27,21.82-1.91,25.19-2.21Z' transform='translate(-37.9446 -41.7022)' style='fill: #f0c98c;opacity: 0.6000000238418579;isolation: isolate')
        path(d='M482.2789,271.6272a7.8909,7.8909,0,0,1,7.892,7.883l.008,3.954a7.8832,7.8832,0,0,1-7.883,7.883h-32.121s.165-10.749-2.685-19.72Z' transform='translate(-37.9446 -41.7022)' style='fill: #cd8634')
        path(d='M428.21,221.08a1.4753,1.4753,0,0,1-1.07.43H265.34a2.308,2.308,0,0,1-1.14-4.32l50.23-28.25a28.51,28.51,0,0,1,13.97-3.66h29.9a41,41,0,0,1,17.43,3.88,39.2287,39.2287,0,0,1,4.45,2.43l16.41,9.31,31.3,17.76A1.5306,1.5306,0,0,1,428.21,221.08Z' transform='translate(-37.9446 -41.7022)' style='fill: #292f39')
        path(d='M396.59,200.9l-36.31,20.61h-41.5l56.95-32.35a39.2287,39.2287,0,0,1,4.45,2.43Z' transform='translate(-37.9446 -41.7022)' style='fill: #5e5e5e')
        path(d='M428.2129,219.8328v20.2633s-43.819-8.822-48.259,41.3911H279.87s2.677-49.0846-15.801-61.0531' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M346.5319,221.5131s10.438,4.6293,5.38,59.9741' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M330.4349,231.3241h10.059a1.99,1.99,0,0,0,1.993-1.9936v-.9227a1.99,1.99,0,0,0-1.993-1.9936h-10.059a1.99,1.99,0,0,0-1.994,1.9936v.9227A2.0006,2.0006,0,0,0,330.4349,231.3241Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M405.9779,231.3241h10.059a1.9894,1.9894,0,0,0,1.993-1.9936v-.9227a1.9894,1.9894,0,0,0-1.993-1.9936h-10.059a1.99,1.99,0,0,0-1.994,1.9936v.9227A1.9955,1.9955,0,0,0,405.9779,231.3241Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M295.3329,190.9946l-57.486,30.5185h-97.736l65.748-32.1494a40.1971,40.1971,0,0,1,17.671-4.0856h70.377A3.036,3.036,0,0,1,295.3329,190.9946Z' transform='translate(-37.9446 -41.7022)' style='fill: #292f39')
        path(d='M223.5709,226.4142H133.1' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M276.7149,185.2781l-63.813,36.235h-21.295l63.796-36.235Z' transform='translate(-37.9446 -41.7022)' style='fill: #5e5e5e')
        path(d='M236.9659,185.2781l-63.812,36.235h-6.92l63.795-36.235Z' transform='translate(-37.9446 -41.7022)' style='fill: #5e5e5e')
        path(d='M48.0339,291.3392h147.725a7.8841,7.8841,0,0,0,7.884-7.883l-.017-11.829H38.3377l.1318,10.157A9.5589,9.5589,0,0,0,48.0339,291.3392Z' transform='translate(-37.9446 -41.7022)' style='fill: #cd8634')
        path(d='M88.3822,269.1812H111.197a2,2,0,0,1,2,2v4.115a2,2,0,0,1-2,2H88.3822a2,2,0,0,1-2-2v-4.115A2,2,0,0,1,88.3822,269.1812Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M144.9959,253.0036H65.96' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M130.5711,259.0414H78.6218' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M130.5711,265.0462H78.6218' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M141.7009,265.96h34.501a5.28,5.28,0,0,0,5.28-5.28V255.73a5.28,5.28,0,0,0-5.28-5.28h-34.501a5.2807,5.2807,0,0,0-5.2807,5.28v4.9505A5.28,5.28,0,0,0,141.7009,265.96Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M71.96,255.73v4.95a5.2814,5.2814,0,0,1-5.28,5.28H38.16a42.4339,42.4339,0,0,1,1.41-13.12,12.8743,12.8743,0,0,1,.94-2.39H66.68a5.2838,5.2838,0,0,1,4.44,2.42c.02.04.05.08.07.13A5.1711,5.1711,0,0,1,71.96,255.73Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M181.4819,260.6806H136.42' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
        path(d='M71.9572,260.6806h-33.62' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.7860000133514404px;opacity: 0.10000000149011612;isolation: isolate')
    g#man
        path(d='M340.894,73.1047c0-13.4,13.6159-23.5011,27.2593-16.1754a17.3548,17.3548,0,0,1,5.9708,6.06c3.57,6.7145,3.2518,13.3285.6849,18.5621h.0209l-.1453.2732c-.0692.1294-.1315.2516-.2007.3811l-15.643,29.396L343.17,82.1557c-.0554-.1006-.1038-.1941-.1592-.2947l-.0692-.1366h.007A18.9249,18.9249,0,0,1,340.894,73.1047Z' transform='translate(-37.9446 -41.7022)' style='fill: #fdab3e')
        path(d='M358.8271,81.1708a8.2663,8.2663,0,1,1,7.95-8.26A8.1094,8.1094,0,0,1,358.8271,81.1708Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M424.4085,304.4342H413.2211l-18.5073,10.2873,31.819-.3954Z' transform='translate(-37.9446 -41.7022)' style='fill: #171a1e')
        path(d='M426.6436,318.676l-.1108-4.35-31.8188.3954.1107,4.35Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M405.4862,308.2237l3.6669,1.0421' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #fff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.4565999507904053px')
        path(d='M409.07,306.3106l3.6669,1.043' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #fff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.4565999507904053px')
        path(d='M412.0382,288.0428H423.44l.9687,16.3914H413.0068Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M404.573,180.3366l7.0363,118.8278h15.8784l-2.7471-118.8278Z' transform='translate(-37.9446 -41.7022)' style='fill: #dde0e6')
        path(d='M450.1246,304.4342H438.9371L420.43,314.7215l31.8192-.3954Z' transform='translate(-37.9446 -41.7022)' style='fill: #171a1e')
        path(d='M452.36,318.676l-.1108-4.35-31.8189.3954.1107,4.35Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M431.2023,308.2237l3.6675,1.0421' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #fff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.4565999507904053px')
        path(d='M434.7867,306.3106l3.6667,1.043' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #fff;stroke-linecap: round;stroke-linejoin: round;stroke-width: 1.4565999507904053px')
        path(d='M436.62,288.0428h11.4016l2.1038,16.3914H438.723Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M438.204,180.3366,453.75,299.1644H436.3916L413.7885,180.3366Z' transform='translate(-37.9446 -41.7022)' style='fill: #dde0e6')
        path(d='M426.2556,245.88l-8.8763-46.6572-6.4758-4.3857' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.6376000046730042px;opacity: 0.20000000298023224;isolation: isolate')
        path(d='M440.4808,197.7561l-9.7-7.93' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.6376000046730042px;opacity: 0.20000000298023224;isolation: isolate')
        path(d='M401.5841,135.175l-17.67,24.1052a6.52,6.52,0,0,0-.2905,8.0731,5.9411,5.9411,0,0,0,9.16.5821l18.9846-22.8175a7.4764,7.4764,0,0,0,.1938-9.9861A6.8157,6.8157,0,0,0,401.5841,135.175Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M410.2393,126.031s-8.6344,1.1215-15.2486,14.4356l10.1565,12.6528Z' transform='translate(-37.9446 -41.7022)' style='fill: #8f9ee1')
        path(d='M396.0354,160.2717l-24.2221-15.7866-4.8223,5.1755,17.5594,18.692Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M367.932,134.6292l-12.0108,3.6377s0,9.6691,11.0767,11.4164a10.215,10.215,0,0,0,3.7983-1.4235l1.84-5.4565a2.4046,2.4046,0,0,0-.1315-2.9764Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M368.9283,136.2318l-4.2481-5.7944a1.7005,1.7005,0,0,0-2.4284-.381,1.8975,1.8975,0,0,0-.256,2.48l3.9228,6.3551Z' transform='translate(-37.9446 -41.7022)' style='fill: #e9b0a0')
        path(d='M363.7946,140.855l-5.1059-5.2336a1.6064,1.6064,0,0,0-2.3523-.1654,1.8831,1.8831,0,0,0,.0829,2.4371l4.8707,5.8091Z' transform='translate(-37.9446 -41.7022)' style='fill: #e9b0a0')
        path(d='M365.76,137.2816l-4.8223-4.9532a1.6557,1.6557,0,0,0-2.4284-.0719,1.9446,1.9446,0,0,0,.0277,2.5161l4.5662,5.5572Z' transform='translate(-37.9446 -41.7022)' style='fill: #e9b0a0')
        path(d='M357.644,122.0838l-1.9165.1294v13.0409l6.7111,10.9128,2.041-.1728-3.5977-13.7091Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M368.8868,140.1858l-5.6111,5.4924a1.2332,1.2332,0,0,1-1.9856-.0219l-12.2113-15.8371a1.1354,1.1354,0,0,1,.0138-1.3588l5.8808-5.8446a1.0268,1.0268,0,0,1,1.6535.0143l12.2737,15.9166A1.3691,1.3691,0,0,1,368.8868,140.1858Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M370.7547,140.0563l-5.6109,5.4927a1.2338,1.2338,0,0,1-1.9857-.0218L350.9467,129.69a1.1353,1.1353,0,0,1,.0139-1.3587l5.8808-5.8446a1.0269,1.0269,0,0,1,1.6536.0143l12.2736,15.9166A1.3687,1.3687,0,0,1,370.7547,140.0563Z' transform='translate(-37.9446 -41.7022)' style='fill: #ccd1da')
        path(d='M371.35,144.5785a5.1132,5.1132,0,0,0,2.0064-4.81,15.6024,15.6024,0,0,0-2.1449-6.233c-.588-1.143-1.266-1.6966-2.2208-1.56a1.8727,1.8727,0,0,0-1.5083,2.0849l1.0724,2.48s-1.1831,3.1416,1.2938,7.9006Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M426.4908,123.4785a58.8323,58.8323,0,0,1,11.1874,4.0259c2.9336,1.5384,3.2586,4.86,2.8924,8.2458l-2.3666,44.5864H404.58L402.2275,137.26c-.3251-4.7232,2.3455-9.353,6.6627-10.877,4.8361-1.7111,7.8872-3.3357,10.4609-3.4867Z' transform='translate(-37.9446 -41.7022)' style='fill: #a9b7f2')
        path(d='M402.9332,150.3658l-.7126-13.106' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.6376000046730042px;opacity: 0.20000000298023224;isolation: isolate')
        path(d='M426.4908,123.4786l3.875,1.1072s-2.8781,5.7663-13.3394,4.7885c-7.3337-.683-4.38-4.4146-4.38-4.4146l3.6461-1.3733Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M458.2685,149.0715,440.9024,175.635l4.677,5.32,19.165-19.5185Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M424.948,176.85l7.4309-3.9249-.7265-1.6966a1.5328,1.5328,0,0,1,.4015-1.7691,1.3937,1.3937,0,0,1,1.7913-.0288l7.3133,5.9671,4.4209,5.5577c-4.0127,3.5723-6.6347,3.5225-8.143,2.8322-.173.0576-.3528.1291-.5325.18l-6.1719,1.8406a1.1547,1.1547,0,0,1-1.5151-.5682c-.2007-.4171-.2763-1.0927.9137-1.7184l-1.19.6257a1.1945,1.1945,0,0,1-1.5848-.6187,1.4754,1.4754,0,0,1,.7609-1.7395l-.9062.3736a1.2429,1.2429,0,0,1-1.6813-.7689,1.3724,1.3724,0,0,1,.6786-1.6251l1.3143-.69-1.557.3954a1.3471,1.3471,0,0,1-1.75-.913A1.4629,1.4629,0,0,1,424.948,176.85Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M427.1207,179.2726l4.3864-2.15' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.4140999913215637px;opacity: 0.30000001192092896;isolation: isolate')
        path(d='M428.2964,181.71l4.2345-1.8337' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.4140999913215637px;opacity: 0.30000001192092896;isolation: isolate')
        path(d='M429.7359,183.68l3.5912-1.4671' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.4140999913215637px;opacity: 0.30000001192092896;isolation: isolate')
        path(d='M433.9149,141.7542l22.0776,19.7908a5.9227,5.9227,0,0,0,7.7416.7908,6.481,6.481,0,0,0,1.1136-9.4678L444.0853,131.79a6.8094,6.8094,0,0,0-9.5825-.8053A7.4481,7.4481,0,0,0,433.9149,141.7542Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M432.9189,125.4486s11.5259,2.3436,20.9765,14.7951l-10.0175,13.573-14.3637-10.69Z' transform='translate(-37.9446 -41.7022)' style='fill: #a9b7f2')
        path(d='M439,150.1869l-8.337-6.1984' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.6376000046730042px;opacity: 0.20000000298023224;isolation: isolate')
        path(d='M408.6273,86.0455s-3.8883,3.609-.6643,11.7254l5.3412-10.949Z' transform='translate(-37.9446 -41.7022)' style='fill: #15181d')
        path(d='M430.4212,87.0305s4.5452-.51,5.5765,6.765-4.1168,11.6319-9.8319,15.1545Z' transform='translate(-37.9446 -41.7022)' style='fill: #15181d')
        path(d='M420.9493,110.1932c-7.1988,0-13.0346-6.2056-13.0346-13.8606s5.8358-13.86,13.0346-13.86,13.0345,6.2055,13.0345,13.86S428.1478,110.1932,420.9493,110.1932Z' transform='translate(-37.9446 -41.7022)' style='fill: #15181d')
        path(d='M406.44,102.7293a3.4994,3.4994,0,0,1,1.4956-4.6047,3.251,3.251,0,0,1,4.4314,1.5545,3.4994,3.4994,0,0,1-1.4956,4.6047A3.2509,3.2509,0,0,1,406.44,102.7293Z' transform='translate(-37.9446 -41.7022)' style='fill: #dd8161')
        path(d='M416.2378,110.2793l-.1938,17.5643,10.7307-1.84-.7819-24.0633Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        g(style='mask: url(#mask-3)')
            path(d='M416.134,117.8494l7.5344-7.6564-7.7766,1.4163Z' transform='translate(-37.9446 -41.7022)' style='fill: #171717;opacity: 0.20000000298023224;isolation: isolate')
        path(d='M409.4714,89.676s-2.9059,12.0417-1.5913,16.6642c1.3076,4.6226,4.7669,7.6205,10.537,6.6355,0,0,6.6561-.1294,8.62-10.3306C429.9988,87.2965,416.6321,81.6818,409.4714,89.676Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M425.1765,102.6446s-4.2618-10.1654.367-12.15c1.3907-.5967,2.2-.8986,2.8571,4.1984s-1.0582,5.931-1.0582,5.931Z' transform='translate(-37.9446 -41.7022)' style='fill: #15181d')
        path(d='M431.0645,103.81a3.39,3.39,0,0,1-4.331,2.236,3.5848,3.5848,0,0,1-2.1519-4.5008,3.39,3.39,0,0,1,4.3313-2.236A3.5858,3.5858,0,0,1,431.0645,103.81Z' transform='translate(-37.9446 -41.7022)' style='fill: #ebb28b')
        path(d='M429.3966,101.6887a2.4837,2.4837,0,0,0-3.2308,2.02' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #171717;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.3944000005722046px')
        path(d='M411.8514,101.293l-.74,2.6027a.3779.3779,0,0,0,.2628.4314l.8372.1438' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #1e0b07;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.37279999256134033px')
        path(d='M417.068,100.4814a.8433.8433,0,0,1-.7748.9059.8343.8343,0,0,1-.8718-.8053.8434.8434,0,0,1,.7749-.9059A.8343.8343,0,0,1,417.068,100.4814Z' transform='translate(-37.9446 -41.7022)' style='fill: #171717')
        path(d='M410.1563,100.2872a.7813.7813,0,0,1-.7195.8413.773.773,0,0,1-.81-.7478.7665.7665,0,1,1,1.529-.0935Z' transform='translate(-37.9446 -41.7022)' style='fill: #171717')
        path(d='M414.688,94.665l6.2268,2.0708a7.5906,7.5906,0,0,0-3.1826-2.5668A3.2874,3.2874,0,0,0,414.688,94.665Z' transform='translate(-37.9446 -41.7022)' style='fill: #171717')
        path(d='M411.194,94.5138l-3.2794,1.1s.56-1.4595,1.5082-1.7687S411.194,94.5138,411.194,94.5138Z' transform='translate(-37.9446 -41.7022)' style='fill: #171717')
        path(d='M416.2446,105.11a11.3306,11.3306,0,0,1-4.587,1.215S414.778,108.6766,416.2446,105.11Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff')
        path(d='M426.9267,90.61s-3.4659,3.0985-12.0381,1.3084c-8.5721-1.7972-8.9111-7.8361-7.88-9.9568,0,0,3.1549,2.5449,8.3577,1.15,2.8989-.7764,9.3746-3.6089,13.263-.5751a4.6919,4.6919,0,0,1,1.7989,4.486A4.6113,4.6113,0,0,1,426.9267,90.61Z' transform='translate(-37.9446 -41.7022)' style='fill: #15181d')
        path(d='M465.9546,248.3232h22.3195v-49.69a8.8283,8.8283,0,0,0-8.6545-8.9938h-5.0163a8.8284,8.8284,0,0,0-8.6554,8.9938v49.69Z' transform='translate(-37.9446 -41.7022)' style='fill: none;stroke: #424b5b;stroke-miterlimit: 10;stroke-width: 2.868499994277954px')
        path(d='M483.4988,314.9135a5.3956,5.3956,0,0,1,3.8574-6.4742,5.1766,5.1766,0,0,1,6.2307,4.0077,5.3964,5.3964,0,0,1-3.8574,6.4751A5.1778,5.1778,0,0,1,483.4988,314.9135Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M462.0292,317.49a5.5353,5.5353,0,0,1,0-7.6158,5.0457,5.0457,0,0,1,7.3284,0,5.5351,5.5351,0,0,1,0,7.6158A5.0457,5.0457,0,0,1,462.0292,317.49Z' transform='translate(-37.9446 -41.7022)' style='fill: #424b5b')
        path(d='M459.3964,312.4217H494.84a9.3466,9.3466,0,0,0,9.16-9.5184V240.7756a9.346,9.346,0,0,0-9.16-9.5184H459.3964a9.3468,9.3468,0,0,0-9.161,9.5184v62.1277A9.3473,9.3473,0,0,0,459.3964,312.4217Z' transform='translate(-37.9446 -41.7022)' style='fill: #a9b7f2')
        path(d='M492.8134,299.1714V245.1175a.9829.9829,0,1,1,1.9644,0v54.0539a.9829.9829,0,1,1-1.9644,0Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff;opacity: 0.30000001192092896;isolation: isolate')
        path(d='M482.3726,299.1714V245.1175a.9833.9833,0,1,1,1.9652,0v54.0539a.9833.9833,0,1,1-1.9652,0Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff;opacity: 0.30000001192092896;isolation: isolate')
        path(d='M471.9326,299.1714V245.1175a.9833.9833,0,1,1,1.9652,0v54.0539a.9833.9833,0,1,1-1.9652,0Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff;opacity: 0.30000001192092896;isolation: isolate')
        path(d='M461.4926,299.1714V245.1175a.9829.9829,0,1,1,1.9644,0v54.0539a.9829.9829,0,1,1-1.9644,0Z' transform='translate(-37.9446 -41.7022)' style='fill: #fff;opacity: 0.30000001192092896;isolation: isolate')
