section.personal-settings.pt-0
    .container
        .personal-settings--wrap
            .col-xl-3.col-lg-3.personal-sidebar
                include ../../profile/sidebar-profile
            .col-xl-9.col-lg-9.personal-content
                .personal-content--main
                    .personal-content--header
                        h3.personal-content--header--title Оповещения
                    .personal-content--body
                        .personal-notific--checkboxes
                            .personal-notific--checkbox
                                .personal-filter--title.mb-2 Push-оповещения
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                            .personal-notific--checkbox
                                .personal-filter--title.mb-2 Эл. почта
                                .personal-notific--desc.mb-4 Guseva@gmail.com
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                                    label Новости, акции, предложения
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                                    label Сообщения
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                                    label Отзывы
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                                    label Публикации и изменение поездок
                            .personal-notific--checkbox
                                .personal-filter--title.mb-2 SMS
                                .personal-notific--desc.mb-4 (+998-90) 904-59-95
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                                    label Сообщения
                                .personal-notific--checkbox--item
                                    .personal-notific--checkbox--item--check
                                        input.personal-notific--checkbox--input(type="checkbox")
                                    label Публикации и изменение поездок
                        .gogocar-yellow-button.m-0.gogocar-mobile-m-0-auto Сохранить