.gogocar-drivers--time
  display flex
  align-items center
  justify-content space-between

.gogocar-drivers--time__icon
  display flex
  align-items center
  justify-content center
  size(21px)
  border-radius 50%
  .icon
    size(13px)

.gdt-yellow
  background-color #FDAB3E
.gdt-green
  background-color #09B983

.gogocar-drivers--time--start,.gogocar-drivers--time--end
  display flex
  align-items center

  span
    color #fff
    font-family 'Oswald 500',sans-serif
    font-size 15px

.gogocar-drivers--time--start

  span
    margin-right 10px

.gogocar-drivers--time--end

  span
    margin-left 10px

.drivers-nearby--list .gogocar-trip--item__route
  margin-bottom 15px

.drivers-nearby--list .gogocar-trip--item:nth-last-child(-n+3)
  margin-bottom 0

.gogocar-drivers--profile--wrap
  display flex
  align-items center

.gogocar-drivers--profile
  background-size contain
  background-position center
  background-repeat no-repeat
  border-radius 10px
  size(50px)
  margin-right 15px

.gogocar-drivers--price
  font-family 'Oswald 500',sans-serif
  font-size 18px
  color #fff

  span
    color #FDAB3E
    font-size 18px

