.size-icon--42
  size(42px)
  .icon
    size(22px)
.gogocar-trip-filter--info
  display flex
  align-items center
  justify-content space-between
  height 62px
  padding 0 70px
  padding-right 15px
  width 100%
.gogocar-trip-filter--item
  display flex
  align-items center
  font-family 'Montserrat SB',sans-serif
  font-size 14px

.gogocar-trip-filter--item__info
  color: #9A9EA4;

  span
    color #fff
.gogocar-trip-filter
  margin 0 auto
.font-size-35
  font-size 35px