.trips-category--buttons
  display flex
  align-items center
  justify-content space-between
  margin 0 auto
  margin-bottom 60px

  .gogocar-gray-button.active,.gogocar-gray-button:hover
    background-color #fdab3e
    box-shadow 0px 4px 11px 2px rgba(253,171,62,0.3)

.w-170
  width 170px

.trips-catelory--list
  .gogocar-trip--item__route
    margin-bottom 15px
  .gogocar-trip--item
    margin-bottom 22px
  .gogocar-drivers--profile--wrap
    width 100%

.gogocar-trips-category--rating
  display flex
  align-items center

  .icon
    size(19px)
    margin-right 7px
.green-rating
  span
    font-family 'Montserrat Bold',sans-serif
    font-size 14px
    color #09B983
  .icon
    filter drop-shadow(0px 2px 4px rgba(9, 185, 131, 0.3))

.yellow-rating
  span
    font-family 'Montserrat Bold',sans-serif
    font-size 14px
    color #fdab3e
  .icon
    filter drop-shadow(0px 2px 4px rgba(253, 171, 62, 0.3))
.gogocar-trips-category--name
  color #fff
  font-family 'Oswald 500',sans-serif
  font-size 18px
  margin-bottom 5px

.gogocar-trips-category--price
  font-family 'Oswald 500',sans-serif
  font-size 21px
  color #FDAB3E
  margin-right 25px

.gogocar-trips-category--name__rating
  display flex
  justify-content space-between
  align-items center
  width 100%

.w-270
  width 270px
  max-width 270px

.gogocar-gray-button-hover:hover
  background-color #FDAB3E
  box-shadow 0px 4px 11px 2px rgba(253,171,62,0.3)

.gogocar-trip--item__town--when
  display flex
  align-items center
  .icon
    size(20px)
    margin-right 15px

.gogocar-trip--item__town--when__date
  font-family 'Oswald 400',sans-serif
  font-size 18px
  color #fff
.gogocar-trips-category--name__rating--attr--wrap
  display flex
  align-items center
.gogocar-trips-category--name__attr--list
  display flex
  align-items center
  margin-left 30px


.gogocar-trips-category--name__attr--item
  position relative
  margin-right 15px
  .icon
    size(20px)
  &:last-child
    margin-right 0
.gogocar-attr--green
  .icon
    fill #09B983
.gogocar-attr--red
  .icon
    fill #FF4B55


.gogocar-trip--bottom-flex
  display flex
  align-items center
  justify-content center
  .gogocar-gray-button
    margin 0
  .gogocar-yellow-button
    margin 0
    margin-right 30px
.gogocar-gray-icons2
  min-width 42px

.gogocar-panination
  margin-bottom 40px
  margin-top 20px
  ul
    display flex
    align-items center
    justify-content center
  li
    size(30px)
    font-family 'Montserrat 500',sans-serif
    font-size 13px
    color #fff
    display flex
    align-items center
    justify-content center
    border-radius 8px
    margin-right 5px
    &:last-child
      margin-right 0
    a
      background-color transparent
      size(30px)
      border none
      color #fff
      outline none
      display flex
      align-items center
      justify-content center
      &:hover
        background-color transparent
        outline none
      &:focus
        box-shadow none
  li.active
    background-color #FDAB3E
    border-radius 8px





