section.personal-settings.pt-0
    .container
        .personal-settings--wrap
            .col-xl-3.col-lg-3.personal-sidebar
                include ../../profile/sidebar-profile
            .col-xl-9.col-lg-9.personal-content
                .personal-content--main
                    .personal-content--header
                        h3.personal-content--header--title Мои предпочтенияния
                    .personal-content--body
                        ul.personal-content--prefes--list.row
                            li.personal-content--prefes--item
                                .personal-content--prefes--title Разговорчивость
                                .account-control--prefer--item.personal-content--prefes--icon
                                    +icon('ac-chat')
                                ul.personal-content--prefes--item__rules
                                    li.personal-content--prefes--item__rules__item.personal-rules--red
                                        .account-control--submited--icon
                                            +icon('rules-x')
                                    li.personal-content--prefes--item__rules__item.personal-rules--orange
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                                    li.personal-content--prefes--item__rules__item.personal-rules--green
                                        .account-control--submited--icon
                                            +icon('rules-ok')

                            li.personal-content--prefes--item
                                .personal-content--prefes--title Музыка
                                .account-control--prefer--item.personal-content--prefes--icon
                                    +icon('ac-head')
                                ul.personal-content--prefes--item__rules
                                    li.personal-content--prefes--item__rules__item.personal-rules--red
                                        .account-control--submited--icon
                                            +icon('rules-x')
                                    li.personal-content--prefes--item__rules__item.personal-rules--orange
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                                    li.personal-content--prefes--item__rules__item.personal-rules--green
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                            li.personal-content--prefes--item
                                .personal-content--prefes--title Животные
                                .account-control--prefer--item.personal-content--prefes--icon
                                    +icon('dog')
                                ul.personal-content--prefes--item__rules
                                    li.personal-content--prefes--item__rules__item.personal-rules--red
                                        .account-control--submited--icon
                                            +icon('rules-x')
                                    li.personal-content--prefes--item__rules__item.personal-rules--orange
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                                    li.personal-content--prefes--item__rules__item.personal-rules--green
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                            li.personal-content--prefes--item
                                .personal-content--prefes--title Курение
                                .account-control--prefer--item.personal-content--prefes--icon
                                    +icon('smoke')
                                ul.personal-content--prefes--item__rules
                                    li.personal-content--prefes--item__rules__item.personal-rules--red
                                        .account-control--submited--icon
                                            +icon('rules-x')
                                    li.personal-content--prefes--item__rules__item.personal-rules--orange
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                                    li.personal-content--prefes--item__rules__item.personal-rules--green
                                        .account-control--submited--icon
                                            +icon('rules-ok')
                        .gogocar-yellow-button Сохранить

