#popup-cargo-type.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.popup-modal--wrap.modal-970(role='document')
        .modal-content.popup-content
            .popup-header
                .popup-modal-close.close(data-dismiss="modal" aria-label="Close")
                    +icon('close')
                h3.main-section--title.text-center.mb-5 Типы #[span грузов]
            ul.popup-gogocar-type-cargo.row.mb-4
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Обычный
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Хрупкий
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Ценный
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Скоропортящиеся
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Габаритный
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Опасный
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Негабаритный
                li.col-xl-6.col-sm-12.popup-gogocar-type-cargo--item__wrap
                    .popup-gogocar-type-cargo--item
                        .popup-gogocar-cargo--checkbox
                        span Сборный
            .popup-buttons-ok-close
                .gogocar-yellow-button.type-cargo-choise.mr-5(data-dismiss="modal" aria-label="Close") Подтвердить
                .gogocar-gray-button(data-dismiss="modal" aria-label="Close") Отмена







