section.trip-stops--places
    .container
        .trip-stops--places--wrap
            h1.col-xl-9.col-lg-9.main-section--title--v2.text-center.mb-5.m-0-auto Популярные склады и места выгрузки в этих городах. #[span Вам подходит?]
            ul.trip-stops--places--list
                .trip-stops--places--end.mb-100px
                    span Ташкент
                li.trip-stops--places--item.mb-100px
                    .popup-gogocar-cargo--checkbox
                    span Отделение связи №170100, Узумчилик
                li.trip-stops--places--item.mb-100px
                    .popup-gogocar-cargo--checkbox
                    span АЗС “Лукойл”, Узумчилик
                .trip-stops--places--start
                    span Андижан
            .trip-stops--places--buttons
                .gogocar-gray-button.m-0-auto-none.mr-4 Назад
                .gogocar-yellow-button.m-0-auto-none Продолжить



