section.ready-plan-trip
    .container
        .ready-plan-trip--wrap
            h1.main-section--title--v2.text-center.mb-5 Поездка запланирована на #[span Вторник, 9 июня]
            .ready-plan-trip--info
                .gogocar-trip--item
                    .gogocar-trip--item__top
                        .gogocar-trip--item-town__route
                            .gogocar-trip--item__town
                                span Ташкент
                                span Андижан
                            .gogocar-trip--item__route
                                .gogocar-trip--item__route--start
                                .gogocar-ready-plan-trip--info
                                    .gogocar-plan-trip-driver-position--town
                                        span Чиназ (Отделение связи №170100)
                                    .gogocar-plan-trip-driver-position--dot
                                    .gogocar-plan-trip-driver-position--time
                                        span 19:35
                                .gogocar-trip--item__route--end
                            .gogocar-drivers--time
                                .gogocar-drivers--time--start
                                    span 04:30
                                    .gogocar-drivers--time__icon.gdt-yellow
                                        +icon('location2')
                                .gogocar-drivers--time--end
                                    .gogocar-drivers--time__icon.gdt-green
                                        +icon('location2')
                                    span 10:10
                    .gogocar-trip--item__bottom
                        .gogocar-ready-plan--bottom
                            .gogocar-ready-plan--km__place
                                .gogocar-trip--item__km 352,7 км  #[span ( 5 ч. 40 мин. )]
                                .gogocar-ready-plan--place 1 свободное место
                            .gogocar-ready-plan--car
                                .gogocar-gray-icons
                                    +icon('taxi')
                                .gogocar-ready-plan--text Ford Focus
                            .gogocar-ready-plan--covid
                                .gogocar-gray-icons
                                    +icon('covid')
                                .gogocar-ready-plan--covid--info
                                    .gogocar-ready-plan--covid--title Только 1 человек сзади !
                                    .gogocar-ready-plan--covid--desc COVID-19: вы будете единственным попутчиком в этой поездке
                        .gogocar-ready-plan--map__price
                            .gogocar-gray-icons
                                +icon('map-gray')
                            .gogocar-ready-plan__price 90 000 UZS
                .gogocar-ready-plan__mobile
                    .gogocar-ready-plan--car
                        .gogocar-gray-icons
                            +icon('taxi')
                        .gogocar-ready-plan--text Ford Focus
                    .gogocar-ready-plan--covid
                        .gogocar-gray-icons
                            +icon('covid')
                        .gogocar-ready-plan--covid--info
                            .gogocar-ready-plan--covid--title Только 1 человек!
                            .gogocar-ready-plan--covid--desc COVID-19
section.notific-trip
    .container
        .notific-trip--wrap
            .main-section--title.text-center Безопасный #[span платеж]
            p.section-desc.mb-5 Оплатите поездку, чтобы продолжить
            .col-xl-9.col-lg-9.notific-trip--list.m-0-auto
                .notific-trip--item.gogocar-trip--item.gogocar-pay-pay-trip
                    .gogocar-trip--item__top.gogocar-pay-pay-top
                        .gogocar-pay-pay-title Итого к оплате
                        .gogocar-pay-pay-price 90 000 UZS
                    .gogocar-trip--item__bottom.gogocar-pay-pay-bottom

                        .main-section--title--v2.text-center.fs-25.mb-3 Оплата поездки № 00002
                        .gogocar-pay-pay-desc Сумма платежа: #[span 90 000 UZS]
                        .popup-pay-card--wrap
                            .popup-pay-card-front
                                .popup-pay-card-front--number.mb-30
                                    label Номер карты:
                                    input.popup-pay-card--input(type="text" data-mask="0000 0000 0000 0000" placeholder="**** **** **** ****")
                                .popup-pay-card-front--bottom
                                    .popup-pay-card-front--number.w-63
                                        label Владелец карты:
                                        input.popup-pay-card--input(type="text" placeholder="Имя латиницей")
                                    .popup-pay-card-front--number.w-33
                                        label Срок действия:
                                        input.popup-pay-card--input(type="text" data-mask="00 / 00" placeholder="ММ / ГГ")
                            .popup-pay-card-back
                                .popup-pay-card-back--black
                                .popup-pay-card-back--bottom
                                    .popup-pay-card-back--number
                                        .popup-pay-card-back--wrap
                                            label CVV2/CVC2:
                                            input.popup-pay-card--input(type="text" data-mask="0 0 0 0" placeholder="* * * *")
                                        span Цифровой код на обратной стороне
                        .personal-pay-pay-checkbox
                            .personal-appear--radio--input
                            input(type="checkbox")
                            .personal-appear--radio--text Сохранить данный способ оплаты
                        .gogocar-yellow-button.mb-4(data-toggle="modal" data-target="#popup-pay-finish") Оплатить

