section.suggest-late
    .container
        .suggest-late--wrap
            h1.main-section--title.text-center.mb-5 Откуда #[span выезжаем ?]
            .col-xl-8.col-lg-8.suggest-late--inputs
                .gogocar-input--wrapper
                    .gogocar-gray-icons
                        +icon('map2')
                    input.gogocar-input-v1.suggest-late--input--from(type="text" placeholder="Например, Медресе Абулкосим, Ташкент")
                ul.suggest-late--result--list
                    li.suggest-late--result--item
                        .suggest-late--result--item__left
                            .gogocar-gray-icons
                                +icon('wall-clock')
                            span Медресе Абулкосим, Ташкент
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                    li.suggest-late--result--item
                        .suggest-late--result--item__left
                            .gogocar-gray-icons
                                +icon('wall-clock')
                            span Медресе Абулкосим, Ташкент
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                    li.suggest-late--result--item
                        .suggest-late--result--item__left
                            .gogocar-gray-icons
                                +icon('wall-clock')
                            span Медресе Абулкосим, Ташкент
                        .gogocar-gray-icons2
                            +icon('arrow-right3')
                    .gogocar-yellow-button.mt-5 Продолжить


