.car-to-book--content
  margin 0 auto

.car-to-book--item--top
  display flex
  align-items center
  justify-content space-between
  padding 20px
  border-bottom 1px solid rgba(153, 163, 181, 0.23)

.car-to-book--item--date
  font-family 'Oswald 500',sans-serif
  font-size 18px
  color #fff

.car-to-book--item--profile
  display flex
  align-items center

  span
    font-family 'Oswald 500',sans-serif
    font-size 15px
    color #fff

.cat-to-book--item__img
  background-position center
  background-size contain
  background-repeat no-repeat
  size(40px)
  border-radius 10px
  margin-right 15px

.car-to-book--item--bottom
  display flex
  justify-content space-between
  align-items center
  padding 20px

.car-to-book--place--price
  font-family 'Oswald 500',sans-serif
  font-size 15px
  color #fff
  margin-bottom 10px

  span
    color #FDAB3E
    font-size 15px
.car-to-book--during
  font-family 'Montserrat 500',sans-serif
  font-size 13px
  color #9A9EA4

  span
    color #fff
    font-size 13px

.cat-to-book--bottom-how-to-pay
  font-family 'Oswald 500',sans-serif
  font-size 18px
  color #fff
.car-to-book--services
  display flex
  justify-content space-between
  width 100%
.car-to-book--services--left
  display flex
  .gogocar-gray-icons
    position relative
    left auto
    size(42px)
    margin-right 15px
    .icon
      size(22px)

.car-to-book--services--left--content
  display flex
  flex-direction column

  .car-to-book--place--price
    margin-bottom 0

.car-to-book--place--price--right
  font-family 'Montserrat 400',sans-serif
  font-size 14px
  color #fff
  text-decoration-line: line-through;
.car-to-book--during--right
  font-family 'Oswald 500',sans-serif
  font-size 18px
  color #FDAB3E
  text-align right
