section.car-to-book
    .container
        .car-to-book--wrap
            h1.main-section--title--v2.text-center.mb-5 Проверьте все и #[span забронируйте !]
            .col-xl-9.col-lg-9.car-to-book--content
                .gogocar-trip--item
                    .gogocar-trip--item__top
                       .car-to-book--item--top
                           span.car-to-book--item--date Вторник, 9 июня, 16:00
                           .car-to-book--item--profile
                               .cat-to-book--item__img(style="background-image:url('/static/img/content/drivers-avatar/driver1.png')")
                               span Матвей
                       .car-to-book--item--bottom
                           .car-to-book--bottom-info
                               .car-to-book--place--price 3 000 кг (6 м3): #[span 90 000 UZS]
                               .car-to-book--during Оплата: #[span Во время поездки]
                           .cat-to-book--bottom-how-to-pay Наличными
                    .gogocar-trip--item__bottom
                        .car-to-book--services
                            .car-to-book--services--left
                                .gogocar-gray-icons
                                    +icon('question')
                                .car-to-book--services--left--content
                                    span.car-to-book--place--price Сбор за услуги
                                    span.car-to-book--during За эту поездку сбор не взимается

                            .car-to-book--services--right
                                .car-to-book--services--left--content
                                    span.car-to-book--place--price--right 16 000,00 UZS
                                    span.car-to-book--during--right 00,00 UZS
            a.gogocar-yellow-button(href="/") Забронировать
